/* Dark Mode/Light Mode */
.light-mode {
  background-color: #f4f4f4;
  color: #333;
}

.dark-mode {
  background-color: #333;
  color: #f4f4f4;
}

/* General Styles */
.yard-sale {
  padding: 0;
  font-family: "Caveat", cursive;
  font-size: 2.5em;
  color: #c55176;
}

.bold {
  font-weight: bold;
}

.lightweight {
  font-weight: 300;
}

img {
  border-radius: 8px;
}

h1,
h2,
h3 {
  font-weight: 300;
  text-align: center;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.5em;
}

body {
  position: relative;
  min-height: 100vh;
  padding: 10px;
  font-family: "Ubuntu", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

hr {
  background-color: #6c757d;
  display: block;
  clear: both;
  margin-top: 8px;
}

.center-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.field-line {
  margin-bottom: 8px;
}

/* Link Styles */
a {
  color: #1696b9;
  transition: 0.15s;
}

a:hover {
  text-decoration: none;
  color: #0a5f76;
}

/* Form Styles */
legend {
  font-size: 1em;
}

#description {
  width: 100%;
  height: 100px;
}

.category-checkbox {
  margin: 0;
}

.category-checkbox label {
  font-size: smaller;
  margin: 0;
}

/* Nav and Footer Styles */
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  justify-content: space-between;
  padding: 0px;
  margin: 0;
}

.nav-link,
.logout-link,
.footer-link {
  color: #8c8787;
  transition: 0.15s;
}

.nav-link:hover,
.logout-link:hover,
.footer-link:hover {
  color: #c55176;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  font-size: 1.75em;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.visible-hero {
  display: block;
}

.hidden-hero {
  display: none;
}

.user-status {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
}

.signed-in-as {
  color: #c55176;
}

footer {
  position: absolute;
  bottom: 0;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width: 100vw;
  justify-content: space-around;
  padding: 10px;
  margin-bottom: 0;
}
footer li {
  list-style-type: none;
}

/* Button Styles */
.btn {
  padding: 6px 25px;
  border-radius: 6px;
  font-size: 1em;
  cursor: pointer;
  transition: 0.2s;
  background-color: #c55176;
  border: none;
}

.btn:hover {
  background-color: #983554;
  color: #f4f4f4;
}

.btn-primary:focus {
  background-color: #e75684 !important;
  color: #f4f4f4;
  outline: none !important;
  border-color: #c55176 !important;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.075), 0 0 10px rgba(197, 81, 118, 0.6);
}

.btn-primary:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.btn-outline-primary {
  color: #c55176;
  background-color: transparent;
  background-image: none;
  border-color: #c55176;
  transition: 0.15s;
}

.btn-outline-primary:hover {
  color: #c55176;
  background-color: #983554;
  border-color: #983554;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(197, 81, 118, 0.5);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: #c55176;
  background-color: transparent;
}

#close-listing-btn,
#cancel-comment {
  background-color: #80052c;
  color: #f4f4f4;
  transition: 0.15s;
}

#close-listing-btn:hover,
#close-listing-btn:focus,
#close-listing-btn:active,
#cancel-comment:hover,
#cancel-comment:focus,
#cancel-comment:active {
  background-color: #a90000;
}

/* Dynamic Form and Description */
.popup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #f4f4f4;
  background-color: #7a9196;
  align-items: flex-end;
  width: auto;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.524);
}
.popup-form label {
  font-size: 0.9em;
}

.hidden,
.hidden-form {
  display: none;
}

.visible {
  display: block;
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.visible-form {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

/* Active and All Listings Pages */
.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 40px 60px 40px;
}
.page-content ul {
  width: 60%;
}
.page-content li {
  list-style-type: none;
  margin-bottom: 40px;
}
.page-content .big-a {
  font-size: 1.3em;
}
.page-content .small-a {
  font-size: 1em;
}
.page-content p {
  font-size: 1em;
}

.active-listings-heading {
  margin-bottom: 10px;
}

#go-to-closed,
#back-to-top {
  cursor: pointer;
  transition: 0.15s;
}

#go-to-closed:hover,
#back-to-top:hover {
  color: #c55176;
}

.thumb-title-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.down-arrow,
.up-arrow {
  display: none;
}

.sort-by-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  font-size: 0.8em;
  gap: 30px;
  margin-bottom: 20px;
}
.sort-by-container p {
  cursor: pointer;
  transition: 0.15s;
}
.sort-by-container p:hover {
  color: #c55176;
}

.sort-by-active {
  font-weight: bold;
  color: #c55176;
}

/* Listing Page */
.listing-desc {
  margin-top: 20px;
  width: 600px;
  padding: 20px;
}

.listing-img {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.274);
}

.comments-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  width: 600px;
}
.comments-div ul {
  margin-top: 20px;
  width: 100%;
  align-items: flex-start;
}
.comments-div li {
  list-style-type: disc;
  margin-bottom: 20px;
}

.anon-checkbox {
  accent-color: #c55176 !important;
}

.bid-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.bidding-closed {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.timestamp {
  font-size: 0.8em;
  color: #6c757d;
}

.hidden-watchlist {
  display: none;
}

.visible-watchlist {
  display: block;
}

.bid-form-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
  gap: 5px;
  position: relative;
  right: 8px;
}

#dollar-sign {
  font-size: 1.3em;
}

#remove-watchlist,
#cancel-button,
#cancel-password {
  background-color: #80052c;
  color: #f4f4f4;
  transition: 0.15s;
}

#remove-watchlist:hover,
#cancel-button:hover,
#cancel-password:hover {
  background-color: #a90000;
}

/* Profile Page */
.profile-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 600px;
  padding: 20px;
}

.profile-listings {
  width: 600px;
  align-items: flex-start;
}

#profile-closed-listings {
  margin-bottom: 60px;
}
#profile-closed-listings li {
  margin-top: 4px;
}

/* Create Listing Page */
.create-listing-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-items: flex-start;
  width: 600px;
  padding: 20px;
  margin-top: 20px;
}

/* Watchlist Page */
.watchlist-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.watchlist-content h1 {
  position: relative;
  left: 20px;
}

.watchlist-listing {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 600px;
  gap: 0px;
  align-items: flex-start;
}
.watchlist-listing p {
  font-size: 0.8em;
}
.watchlist-listing .btn-primary {
  font-size: 0.7em;
  padding: 4px 15px;
  background-color: #80052c;
  transition: 0.15s;
}
.watchlist-listing .btn-primary:hover,
.watchlist-listing .btn-primary:focus,
.watchlist-listing .btn-primary:active {
  background-color: #a90000;
}
.watchlist-listing a,
.watchlist-listing p {
  width: 100%;
  text-align: center;
}
.watchlist-listing form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

/* Categories & Category Pages */
.categories-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.categories-content h1 {
  margin-bottom: 50px;
}
.categories-content .description {
  text-align: center;
  color: #c55176;
}

.categories-li {
  font-size: 0.9em;
}

.category-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.hidden-desc {
  display: none;
}

.visible-desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  text-align: center;
  margin-top: 20px;
  background-color: rgba(197, 81, 118, 0.679);
  border-radius: 8px;
  font-size: 0.8em;
}

/* Login and Register Pages */
.auth-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-items: center;
  width: 600px;
  padding: 20px;
  margin-top: 20px;
}

.form-control {
  font-size: 0.9em;
}

.form-control:focus {
  border-color: #c55176;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.075), 0 0 10px rgba(197, 81, 118, 0.6);
}

/*# sourceMappingURL=styles.css.map */
