@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

@mixin floating-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

@mixin universal-form {
  display: block;
  color: $text-color-light;
  background-color: #7a9196;
  height: auto;
  min-width: 300px;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid $text-color-light;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.524);
  input {
    margin-bottom: 10px;
  }
}

@mixin cursor-pointer-transition {
  cursor: pointer;
  transition: 0.15s;
}

$text-color-dark: #303133;
$text-color-light: #f4f4f4;
$link-color: #1696b9;
$link-color-hover: #0a5f76;
$nav-color: #8c8787;
$primary-pink: #c55176;
$background-color-light: #e2e2e2;
$background-color-dark: #303133;
$medium-gray: #6c757d;
$cancel-color: #a90000;
$cancel-color-hover: #80052c;
$btn-focus: #e75684;
$btn-hover: #983554;
$money-green: #2d6128;
$money-green-hover: #1f3f1a;
$pale-pink: #976f7b;

.mail-icon-div {
  @include flex-row;
  @include cursor-pointer-transition;
  align-items: center;
}
#unread-count {
  position: absolute;
  top: 80px;
  right: 110px;
  background-color: rgba(197, 81, 118, 0.563);
  color: $text-color-light;
  border-radius: 20px;
  padding: 8px 10px 8px 10px;
  font-size: 0.7em;
}

/* Dark Mode/Light Mode */
.light-mode {
  background-color: $background-color-light;
  color: $text-color-dark;
}
.dark-mode {
  background-color: $background-color-dark;
  color: $text-color-light;
}

/* General Styles */
.yard-sale {
  padding: 0;
  font-family: "Caveat", cursive;
  font-size: 2.5em;
  color: $primary-pink;
}
.bold {
  font-weight: bold;
}
.lightweight {
  font-weight: 300;
}
img {
  border-radius: 8px;
}
h1,
h2,
h3 {
  font-weight: 300;
  text-align: center;
}
h1 {
  font-size: 3.5em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2.5em;
}
body {
  position: relative;
  min-height: 100vh;
  padding: 10px;
  font-family: "Ubuntu", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}
.page-content {
  @include flex-column;
  padding: 20px 20px 40px 20px;
  width: 100%;
}
hr {
  background-color: #babfc8;
  width: 100%;
  display: block;
  clear: both;
  margin-top: 8px;
}
p {
  font-size: 1em;
}
.center-container {
  width: 100%;
  @include flex-column;
}
.field-line {
  margin-bottom: 8px;
}
.divider-med {
  width: 100%;
  height: 40px;
}

/* LINK STYLES */
a {
  color: $link-color;
  transition: 0.15s;
}
a:hover {
  text-decoration: none;
  color: $link-color-hover;
}
.big-a {
  font-size: 1.3em;
}
.small-a {
  font-size: 1em;
}

/* ALERT MESSAGE STYLES */
.alert-div {
  width: 300px;
  height: auto;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}
.success-div {
  background-color: #2d6128;
}
.error-div {
  background-color: #80052c;
}
.del-x {
  @include cursor-pointer-transition;
  margin: 0;
  line-height: 0%;
  font-size: 1.5em;
  color: white;
}
.del-x:hover {
  font-weight: bold;
}

/* FORM STYLES */
/* All input fields font-size and focus */
.form-control {
  font-size: 0.9em;
}
.form-control:focus {
  border-color: $primary-pink;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.075), 0 0 10px rgba(197, 81, 118, 0.6);
}
.form-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}
/* Dynamic Form and Description */
.hidden {
  display: none;
}
.visible {
  display: block;
}
/* Layout Template - Message Admin Form */
.send-msg-form {
  @include flex-column;
  @include floating-form;
  @include universal-form;

  label {
    color: $text-color-light;
  }
  .form-group {
    width: 100% !important;
  }
}
/* Categories Page - category description on hover */
.visible-categories {
  display: block;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  text-align: center;
  color: $primary-pink;
}
/* Profile Page - Edit Info, Change Password, Deposit and Withdraw Forms */
/* Listing Page - Leave Comment Form */
.popup-form {
  @include flex-column;
  @include floating-form;
  @include universal-form;

  margin-top: 20px;

  label {
    font-size: 0.9em;
  }
}
/* Category Page - Listing Hover Description */
.visible-desc {
  position: absolute;
  transform: translate(-20%, -180%);
  display: block;
  text-align: center;
  margin-top: 20px;
  background-color: rgba(197, 81, 118, 0.831);
  border-radius: 8px;
  border: 1px solid $text-color-light;
  width: 600px;
  padding: 20px;
  font-size: 0.9em;
}
/* Profile Page - Send User Message Form */
.send-usr-msg-form-div {
  @include flex-column;
  @include floating-form;
  @include universal-form;
  margin-top: 20px;
}
/* Authentication Forms */
.auth-form {
  @include flex-column;
  align-items: center;
  width: 600px;
  padding: 20px;
}
legend {
  font-size: 1em;
}
#description {
  width: 100%;
  height: 100px;
}
.category-checkbox {
  margin: 0;
}
.category-checkbox label {
  font-size: smaller;
  margin: 0;
}

/* NAV and FOOTER STYLES*/
.nav-container {
  @include flex-row;
  justify-content: space-between;
  padding: 0px;
  margin: 0;
}
#msg-admin-link,
.nav-link,
.logout-link,
.footer-link {
  @include cursor-pointer-transition;
  color: $nav-color;
}
#msg-admin-link:hover,
.nav-link:hover,
.logout-link:hover,
.footer-link:hover {
  color: $primary-pink;
}
.hero {
  @include flex-row;
  font-size: 1.75em;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}
.user-status {
  @include flex-row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
}
.signed-in-as {
  color: $primary-pink;
}
footer {
  position: absolute;
  bottom: 0;

  ul {
    @include flex-row;
    width: 100vw;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 0;
  }
  li {
    list-style-type: none;
  }
}

/* ALL BUTTON STYLES */
.btn {
  @include cursor-pointer-transition;
  padding: 6px 25px;
  border-radius: 6px;
  font-size: 1em;
  background-color: $primary-pink;
  border: none;
}
.btn:hover {
  background-color: $btn-hover;
  color: $text-color-light;
}
.btn-primary:focus,
.btn-primary:active,
.btn-primary:visited {
  background-color: $btn-focus !important;
  color: $text-color-light !important;
  outline: none !important;
  border-color: $primary-pink !important;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.075), 0 0 10px rgba(197, 81, 118, 0.6);
}
.btn-primary:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
/* Form Buttons Div */
.form-btn-box {
  @include flex-column;
  margin: 20px 0 0 0;
  width: 100%;
}
/* Cancel Buttons */
.cancel-btn {
  background-color: $cancel-color !important;
  color: $text-color-light !important;
  transition: 0.15s !important;
}
.cancel-btn:hover,
.cancel-btn:focus,
.cancel-btn:active,
.cancel-btn:visited {
  background-color: $cancel-color-hover !important;
}
/* Watchlist Page - Small Buttons */
#remove-from-watchlist-btn {
  font-size: 0.7em;
  padding: 4px 15px;
  margin: 5px;
}
/* Profile Page - Deposit and Withdraw Buttons */
#deposit-btn,
#withdraw-btn {
  @include cursor-pointer-transition;
}
#deposit-btn:hover {
  background-color: $money-green;
}
#withdraw-btn:hover {
  background-color: $cancel-color-hover;
}

/* CREATE LISTING PAGE */
.create-form-div {
  @include flex-column;
  @include universal-form;
  width: 500px;
  margin-top: 20px;
}
.create-listing-form {
  @include flex-column;
  align-items: flex-start;
  width: 100%;

  /* Set all form groups to 100% width */
  div {
    width: 100%;
  }

  /* Target categories field, use grid to display checkboxes in 2 columns */
  #id_categories {
    font-size: 0.9em;
    display: grid;
    grid-template-columns: 1fr 1fr;

    div label {
      @include flex-row;
      gap: 5px;
      justify-content: flex-start;
      align-items: center;
    }
  }
}

/* INDEX and LISTINGS  */
/* Individual Listing */
.thumb-title-div {
  @include flex-row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
/* Used by JS to make truncated descriptions clickable */
.truncated-description {
  cursor: pointer;
}
.pointer {
  cursor: pointer;
}
.long-listings,
.short-listings {
  width: 60%;
  li {
    list-style-type: none;
    margin-bottom: 40px;
  }
}
/* Listings/Index Toggle Full Listings - Title Only */
.opt-selected {
  font-weight: bold;
  color: $primary-pink;
}
.opt-not-selected {
  font-weight: 100;
  cursor: pointer;
}
.opt-not-selected:hover {
  font-weight: 400;
  color: $pale-pink;
}
.title-only-li {
  font-size: 0.9em;
  margin-bottom: 8px;
}
.short-listings {
  position: relative;
  right: 20px;
  width: 100%;
  text-align: center;
}
/* Listings/Index - Return to top link */
#go-to-closed,
#back-to-top {
  @include cursor-pointer-transition;
}
#go-to-closed:hover,
#back-to-top:hover {
  color: $primary-pink;
}
/* Dynamic Arrow Styles for Sort By */
.down-arrow,
.up-arrow {
  display: none;
}
.sort-by-container {
  @include flex-row;
  font-size: 0.8em;
  gap: 30px;
  margin-bottom: 20px;

  p {
    @include cursor-pointer-transition;
  }
  p:hover {
    color: $primary-pink;
  }
}
.sort-by-active {
  font-weight: bold;
  color: $primary-pink;
}

/* LISTING PAGE */
.listing-desc {
  width: 450px;
  font-size: 0.9em;
}
.fields-item {
  margin-bottom: 10px;
}
.listing-img {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.274);
  margin-bottom: 20px;
}
/* Comments Section */
.comments-div {
  @include flex-column;
  margin-top: 20px;
  width: 600px;

  ul {
    margin-top: 20px;
    width: 100%;
    align-items: flex-start;
  }
  li {
    list-style-type: disc;
    margin-bottom: 20px;
  }
}
.anon-checkbox {
  accent-color: $primary-pink !important;
}
.bidding-closed {
  @include flex-column;
  text-align: center;
}
.timestamp {
  font-size: 0.8em;
  color: $medium-gray;
}
/* Make a Bid */
.bid-form-div {
  @include flex-column;
}
.bid-form-dollar-div {
  @include flex-row;
  align-items: center;
  gap: 5px;
  position: relative;
  right: 8px;
}
#dollar-sign {
  font-size: 1.3em;
}
/* Confirm Shipping Button */
.confirm-ship-div {
  background-color: $text-color-light;
  color: $cancel-color;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid $cancel-color;

  button {
    background-color: $medium-gray;
    color: $text-color-light;
    transition: 0.15s;
  }
  button:hover {
    border: 2px solid $cancel-color;
    background-color: $primary-pink;
  }
}

/* PROFILE PAGE */
.profile-page-content {
  @include flex-column;
  width: 100%;
}
.profile-info {
  @include flex-column;
  width: 600px;
  padding: 20px;
}
.profile-listings {
  width: 600px;
  align-items: flex-start;
}
#profile-closed-listings {
  margin-bottom: 60px;

  li {
    margin-top: 4px;
  }
}
.account-balance {
  @include flex-column;
}

/* WATCHLIST PAGE */
.watchlist-content {
  @include flex-column;
  width: 100%;
  margin-bottom: 20px;
  h1 {
    position: relative;
    left: 20px;
  }
}
.watchlist-listing {
  @include flex-column;
  width: 600px;
  gap: 0px;
  align-items: flex-start;
  div {
    font-size: 0.8em;
  }
  a {
    font-size: 0.9em;
  }
  a,
  div {
    width: 100%;
    text-align: center;
  }
  form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
  }
}

/* CATEGORY and CATEGORIES PAGES */
#h1-all-categories {
  margin-bottom: 50px;
}
.categories-content {
  @include flex-column;
  margin-top: 20px;

  h1 {
    margin-bottom: 50px;
  }
}
.categories-li {
  font-size: 0.9em;
}

/* TRANSACTIONS PAGE */
.transactions-table {
  background-color: $medium-gray;
  border-radius: 8px;
  overflow: hidden;
  font-size: 0.9em;
  color: $text-color-light;
  th,
  td {
    border-color: $background-color-dark !important;
  }
  th {
    border-top: none;
  }
}
.withdraw-amt {
  color: $cancel-color;
}
.deposit-amt {
  color: $money-green-hover;
}

/* MESSAGES PAGE */
.message-div,
.message-div-full {
  width: 600px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.message-sender,
.message-summary {
  width: 100%;
  @include flex-row;
  justify-content: space-between;
}

#read-unread {
  @include cursor-pointer-transition;
  font-size: 0.8em;
  color: $medium-gray;
}
#read-unread:hover {
  color: $primary-pink;
}

.reply-delete-div {
  @include flex-row;
  width: 100%;
  justify-content: space-around;
  margin-top: 10px;
}
