@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@mixin floating-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
@mixin universal-form {
  display: block;
  color: $text-color-light;
  background-color: #7a9196;
  height: auto;
  min-width: 300px;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid $text-color-light;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.524);
  input {
    margin-bottom: 10px;
  }
}
@mixin cursor-pointer-transition {
  cursor: pointer;
  transition: 0.15s;
}




$text-color-dark: #303133;
$text-color-light: #f4f4f4;
$link-color: #1696b9;
$link-color-hover: #0a5f76;
$washed-link: #268aa0;
$washed-link-hover: #5c6b6e;
$nav-color: #7a7575;
$primary-pink: #c55176;
$background-color-light: #e2e2e2;
$background-color-dark: #303133;
$light-gray: #babfc8;
$medium-gray: #6c757d;
$medium-gray-alt: #8d949a;
$medium-gray-alt-light: #969da4;
$med-dark-gray: #495057;
$dark-gray: #343a40;
$cancel-color: #a90000;
$cancel-color-hover: #80052c;
$btn-focus: #803e53;
$btn-hover: #983554;
$money-green: #3a7635;
$money-green-hover: #1f3f1a;
$green: #247b1c;
$pale-pink: #976f7b;
$yellow: #e6d00c;
$orange: #b36f1b;
$universal-form-color: #7a9196;




/* Dark Mode/Light Mode */
.light-mode {
  background-color: $background-color-light;
  color: $text-color-dark;
}
.dark-mode {
  background-color: $background-color-dark;
  color: $text-color-light;
}

.light-mode-text,
.time-left-light-mode {
  color: $text-color-dark;
}
.dark-mode-text,
.white,
.time-left-dark-mode {
  color: $text-color-light;
}


/* General Styles */
.mail-icon-div {
  @include flex-row;
  @include cursor-pointer-transition;
  align-items: center;
}
#unread-count {
  position: absolute;
  top: 80px;
  right: 110px;
  background-color: rgba(197, 81, 118, 0.563);
  color: $text-color-light;
  border-radius: 20px;
  padding: 8px 10px 8px 10px;
  font-size: 0.7em;
}
.yard-sale {
  padding: 0;
  font-family: "Caveat", cursive;
  font-size: 2.5em;
  color: $primary-pink;
}
.bold {
  font-weight: bold;
}
.lightweight {
  font-weight: 300;
}
.italic {
  font-style: italic !important;
}
img {
  border-radius: 8px;
}
h1,
h2,
h3 {
  font-weight: 300;
  text-align: center;
}
h1 {
  font-size: 3.5em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2.5em;
}
body {
  position: relative;
  min-height: 100vh;
  padding: 10px;
  font-family: "Ubuntu", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}
.page-content {
  @include flex-column;
  padding: 20px 20px 40px 20px;
  width: 100%;
}
hr {
  background-color: #babfc8;
  width: 100%;
  display: block;
  clear: both;
  margin-top: 8px;
}
p {
  font-size: 1em;
}
ul {
  padding: 0;
  margin: 0;
}
.small-font {
  font-size: 0.8em;
}
.red {
  color: $cancel-color !important;
}
.orange {
  color: $orange !important;
}
.yellow {
  color: $yellow !important;
}
.green {
  color: $green;
}
.dark-green {
  color: $money-green-hover;
}
.center-container {
  width: 100%;
  @include flex-column;
}
.field-line {
  margin-bottom: 8px;
}
.divider-med {
  width: 100%;
  height: 40px;
}
.divider-small {
  width: 100%;
  height: 20px;
}
.padding-zero {
  padding: 0 !important;
}

/* LINK STYLES */
a {
  color: $link-color;
  transition: 0.15s;
}
a:hover {
  text-decoration: none;
  color: $link-color-hover;
}
.big-a {
  font-size: 1.3em;
}
.small-a {
  font-size: 1em;
}


/* ALERT MESSAGE STYLES */
.alert-div {
  position: fixed;
  top: 30px;
  width: 300px;
  height: auto;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  font-size: 0.9em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.274);
}
.info-div {
  background-color: $primary-pink;
}
.success-div {
  background-color: $money-green;
}
.error-div {
  background-color: $cancel-color-hover;
}
.del-msg {
  @include cursor-pointer-transition;
  margin: 0;
  line-height: 0%;
  font-size: 1.5em;
  color: white !important;
}
.del-msg:hover {
  font-weight: bold;
}


/* FORM STYLES */

.confirmation-popup {
  @include flex-column;
  @include floating-form;
  @include universal-form;
  width: 400px;
  text-align: center;
  font-size: 0.9em;
  
  button {
    margin-top: 20px;
  }
}

/* All input fields font-size and focus */
.form-control {
  font-size: 0.9em;
}
.form-control:focus {
  border-color: $primary-pink;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.075), 0 0 10px rgba(197, 81, 118, 0.6);
}
.form-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}


/* Dynamic Form and Description */
.hidden {
  display: none;
}
// .visible {
//   display: block;
// }
/* Layout Template - Message Admin Form */
.send-msg-form {
  @include flex-column;
  @include floating-form;
  @include universal-form;

  label {
    color: $text-color-light;
  }
  .form-group {
    width: 100% !important;
  }
}
/* Categories Page - category description on hover */
.vis-cat-auth {
  display: block;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  text-align: center;
  color: $primary-pink;
  
}
.vis-cat-no-auth {
  display: block;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  text-align: center;
  color: $primary-pink;
}


/* Profile Page - Edit Info, Change Password, Deposit and Withdraw Forms */
/* Listing Page - Leave Comment Form */
.popup-form {
  @include flex-column;
  @include floating-form;
  @include universal-form;

  margin-top: 20px;

  label {
    font-size: 0.9em;
  }
}
/* Messages Page - Reply to Message Form */
.reply-form {
  width: 400px;
}
#sent-messages-header,
#inbox-messages-header {
  @include cursor-pointer-transition;
}
/* Category Page - Listing Hover Description */
.visible-desc {
  position: absolute;
  transform: translate(-20%, -180%);
  display: block;
  text-align: center;
  margin-top: 20px;
  background-color: rgba(197, 81, 118, 0.831);
  border-radius: 8px;
  border: 1px solid $text-color-light;
  width: 600px;
  padding: 20px;
  font-size: 0.9em;
}
/* Profile Page - Send User Message Form */
.send-usr-msg-form-div {
  @include flex-column;
  @include floating-form;
  @include universal-form;
  margin-top: 20px;
}
/* Authentication Forms */
.auth-form {
  @include flex-column;
  align-items: center;
  width: 600px;
  padding: 20px;
}
legend {
  font-size: 1em;
}
#description {
  width: 100%;
  height: 100px;
}
.category-checkbox {
  margin: 0;
}
.category-checkbox label {
  font-size: smaller;
  margin: 0;
}


/* NAV and FOOTER STYLES*/

.active-nav {
  font-weight: bold;
  color: $pale-pink !important;
}

.nav-container {
  @include flex-row;
  justify-content: space-between;
  padding: 0px;
  margin: 0;
}
.footer-links {
  padding: 0;
  margin: 0;
}
#msg-admin-link,
#msg-admin-link-two,
.nav-link,
.footer-link {
  @include cursor-pointer-transition;
  color: $nav-color;
}
#msg-admin-link:hover,
#msg-admin-link-two:hover,
.nav-link:hover,
.logout-link:hover,
.footer-link:hover {
  color: $primary-pink;
}
.hero {
  @include flex-row;
  font-size: 1.75em;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}
.hero-link {
  cursor: pointer;
}
.user-status {
  @include flex-row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
}

footer {
  position: absolute;
  bottom: 0;

  margin-bottom: 20px;
  margin-top: 40px;

  ul {
    @include flex-row;
    width: 100vw;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 0;
  }
  li {
    list-style-type: none;
  }
}


/* ALL BUTTON STYLES */
.btn {
  @include cursor-pointer-transition;
  padding: 6px 25px;
  border-radius: 6px;
  font-size: 1em;
  background-color: $primary-pink;
  border: none;
  transition: .25s;
}
.btn:hover {
  background-color: $btn-hover;
  color: $text-color-light;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.075), 0 0 10px rgba(197, 81, 118, 0.6);
}
.btn-primary:focus,
.btn-primary:active,
.btn-primary:visited {
  background-color: $btn-focus !important;
  color: $text-color-light !important;
  outline: none !important;
  border-color: $primary-pink !important;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.075), 0 0 10px rgba(131, 43, 70, 0.823);
}
.btn-primary:active {
  outline: none !important;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.075), 0 0 3px rgba(131, 43, 70, 0.823) !important;
  border: none !important;
}
/* Form Buttons Div */
.form-btn-box {
  @include flex-column;
  margin: 20px 0 0 0;
  width: 100%;
}
/* Cancel Buttons */
.cancel-btn {
  background-color: $cancel-color !important;
  color: $text-color-light !important;
  transition: 0.15s !important;
}
.cancel-btn:hover,
.cancel-btn:focus,
.cancel-btn:active,
.cancel-btn:visited {
  background-color: $cancel-color-hover !important;
}

/* Profile Page - Deposit and Withdraw Buttons */
#deposit-btn,
#withdraw-btn {
  @include cursor-pointer-transition;
}
#deposit-btn:hover {
  background-color: $money-green;
}
#withdraw-btn:hover {
  background-color: $cancel-color-hover;
}


/* CREATE LISTING PAGE */

.category-checkbox {
  accent-color: $primary-pink !important;
}
#id_categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#id_categories div label {
  @include flex-row;
  gap: 5px;
  justify-content: flex-start;
  align-content: flex-start;
  line-height: 1em;
  padding: 0;
}
input {
  height: 100%;
  @include flex-column;
}

.create-form-div {
  @include flex-column;
  @include universal-form;
  width: 500px;
  margin-top: 20px;
}
.create-listing-form {
  @include flex-column;
  align-items: flex-start;
  width: 100%;

  /* Set all form groups to 100% width */
  div {
    width: 100%;
  }

  /* Target categories field, use grid to display checkboxes in 2 columns */
  #id_categories {
    margin-top: 20px;
    font-size: 0.9em;
    display: grid;
    grid-template-columns: 1fr 1fr;

    div label {
      @include flex-row;
      gap: 5px;
      justify-content: flex-start;
      align-items: center;
    }
  }
}


/* INDEX and LISTINGS  */
/* Individual Listing */
.thumb-title-div {
  @include flex-row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
/* Used by JS to make truncated descriptions clickable */
.truncated-description {
  cursor: pointer;
}
.pointer {
  cursor: pointer;
}
.long-listings,
.short-listings {
  width: 60%;
  li {
    list-style-type: none;
    margin-bottom: 40px;
  }
}
/* Listings/Index Toggle Full Listings - Title Only */
.opt-selected {
  font-weight: bold;
  font-size: 1.1em;
  color: $primary-pink;
}
.opt-not-selected {
  font-weight: 100;
  cursor: pointer;
}
.opt-not-selected:hover {
  font-weight: 400;
  color: $pale-pink;
}
.title-only-li {
  font-size: 0.9em;
  margin-bottom: 8px;
}
.short-listings {
  position: relative;
  right: 20px;
  width: 100%;
  text-align: center;
}
/* Listings/Index - Return to top link */
#go-to-closed,
#back-to-top {
  @include cursor-pointer-transition;
}
#go-to-closed:hover,
#back-to-top:hover {
  color: $primary-pink;
}
/* Dynamic Arrow Styles for Sort By */
.down-arrow,
.up-arrow {
  display: none;
}
.sort-by-container {
  @include flex-row;
  font-size: 0.8em;
  gap: 30px;
  margin-bottom: 20px;

  p {
    @include cursor-pointer-transition;
  }
  p:hover {
    color: $primary-pink;
  }
}
.sort-by-active {
  font-weight: bold;
  color: $primary-pink;
}


/* LISTING PAGE */
.listing-desc {
  width: 450px;
  font-size: 0.9em;
}
.fields-item {
  margin-bottom: 10px;
}
.listing-img {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.274);
  margin-bottom: 20px;
}
/* Comments Section */
.comments-div {
  @include flex-column;
  margin-top: 20px;
  width: 600px;

  ul {
    margin-top: 20px;
    width: 100%;
    align-items: flex-start;
  }
  li {
    list-style-type: disc;
    margin-bottom: 20px;
  }
  #user-own-comment {
    color: $pale-pink;
  }
  #user-own-comment:hover {
    color: $primary-pink;
  }
  #seller-comment {
    color: $money-green;
  }
  #seller-comment:hover {
    color: $money-green-hover;
  } 
  #other-comment {
    color: $nav-color;
  }
  #other-comment:hover {
    color: $med-dark-gray;
  }
}
.anon-checkbox {
  accent-color: $primary-pink !important;
}
.bidding-closed {
  @include flex-column;
  text-align: center;
}
.timestamp {
  font-size: 0.8em;
  color: $medium-gray;
}
.report-comment-form,
.report-listing-form,
.report-user-form {
  @include floating-form;
  text-align: center;
  width: 350px;
  border-radius: 8px;
  font-size: 0.7em;
  background-color: $nav-color;
  color: $text-color-light;
  border: 2px solid $cancel-color;
  padding: 10px;
  select {
    font-size: 1.2em;
    border-radius: 8px;
    height: 30px;
    width: 150px;
    border: 2px solid #ffffff;
    outline: none;
  }

  select:active,
  select:focus,
  select:focus-visible {
    box-shadow: 0 0 0 2px $cancel-color inset !important;
  }
}
.report-comment, 
#report-listing-text,
#report-user-text {
  @include cursor-pointer-transition;
  font-size: 0.8em;
  color: $medium-gray;
  font-weight: 300;
}
.report-comment:hover,
#report-listing-text:hover,
#report-user-text:hover {
  color: $cancel-color;
}
/* Make a Bid */
.bid-form-div {
  @include flex-column;
}
.bid-form-dollar-div {
  @include flex-row;
  align-items: center;
  gap: 5px;
  position: relative;
  right: 8px;
}
#dollar-sign {
  font-size: 1.3em;
}
/* Confirm Shipping Button */
.confirm-ship-div {
  background-color: $text-color-light;
  color: $cancel-color;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid $cancel-color;

  button {
    background-color: $medium-gray;
    color: $text-color-light;
    transition: 0.15s;
  }
  button:hover {
    border: 2px solid $cancel-color;
    background-color: $primary-pink;
  }
}


/* PROFILE PAGE */
.profile-page-content {
  @include flex-column;
  width: 100%;
}
.profile-info {
  @include flex-column;
  width: 600px;
  padding: 20px;
}
.profile-listings {
  width: 600px;
}
.profile-closed-listings {
  display: flex;
  justify-content: center;

  li {
    margin-top: 4px;
  }
}
.account-balance {
  @include flex-column;
}
.no-list-style-center {
  list-style-type: none;
  text-align: center;
}
.thin-list {
  width: 250px;
}
.no-listings {
  font-style: italic;
  color: $nav-color;
}


/* WATCHLIST PAGE */
.watchlist-content {
  @include flex-column;
  width: 100%;
  margin-bottom: 20px;
  h1 {
    position: relative;
    left: 20px;
  }
}



/* CATEGORY and CATEGORIES PAGES */
#h1-all-categories {
  margin-bottom: 50px;
}
.categories-content {
  @include flex-column;
  margin-top: 20px;

  h1 {
    margin-bottom: 50px;
  }
}
.categories-li {
  font-size: 0.9em;
}


/* TRANSACTIONS PAGE */
.transactions-table {
  max-width: 800px;
  border-radius: 8px;
  overflow: hidden;
  font-size: 0.9em;
  th {
    border-top: none;
  }
  a {
    color: inherit;
  }
  a:hover {
    color: $washed-link-hover;
  }
}
.deposit-amt {
  color: $money-green-hover;
}
.withdraw-amt {
  color: $cancel-color;
}

.winning-bid-active {
  font-weight: bold;
  font-size: 0.9em;
}
.expired-bid {
  font-style: italic;
}

.winning-bid-closed {
  color: $money-green-hover;
  font-style: italic;
  font-size: 0.9em;
  a {
    color: $money-green !important;
    font-style: italic !important;
  }
  a:hover {
    color: $btn-hover !important;
  }
}
.losing-bid-active {
  font-size: 0.9em;
}
.losing-bid-closed {
  font-style: italic;
  font-size: 0.9em;

  a {
    font-style: italic !important;
  }
  a:hover {
    color: $link-color-hover !important;
  }
}

.child-bid {
  background-color: $medium-gray-alt-light !important;
  color: $light-gray;
  font-style: italic;
  cursor: default !important;
  a {
    color: $light-gray !important;
    font-style: italic !important;
  }
  a:hover {
    cursor: default !important;
    color: $btn-hover !important;
  }
}

.dark-mode-table {
  background-color: $medium-gray;
  color: $text-color-light;
  th,
  td {
    border-color: $background-color-dark !important;
  }
  .winning-bid-active {
    color: $text-color-light;
  }
  .losing-bid-closed {
    color: $light-gray;
    a {
      color: $light-gray !important;
    }
    a:hover {
      color: $washed-link-hover !important;
    }
  }
}
.light-mode-table {
  background-color: $light-gray;
  color: $text-color-dark;
  th,
  td {
    border-color: $background-color-light !important;
  }
  .winning-bid-active {
    color: $dark-gray;
  }
  .losing-bid-closed {
    color: $med-dark-gray;
    a {
      color: $med-dark-gray !important;
    }
    a:hover {
      color: $washed-link-hover !important;
    }
  }
}

#bids-table {
  text-align: center;
}


/* MESSAGES PAGE */
.message-div,
.message-div-full {
  @include cursor-pointer-transition;
  width: 600px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}
.message-sender,
.message-summary {
  width: 100%;
  @include flex-row;
  justify-content: space-between;
}
#read-unread {
  @include cursor-pointer-transition;
  font-size: 0.8em;
  color: $medium-gray;
}
#read-unread:hover {
  color: $primary-pink;
}
.reply-delete-div {
  @include flex-row;
  width: 100%;
  justify-content: center;
  gap: 60px;
  margin-top: -6px;
  margin-bottom: 20px;
}
.reply-button {
  @include cursor-pointer-transition;
  color: $primary-pink;
}
.reply-button:hover {
  color: $btn-hover;
}
.reply-button:active {
  color: $btn-focus;
}
.mark-as-unread-button {
  @include cursor-pointer-transition;
  color: $medium-gray;
}
.mark-as-unread-button:hover {
  color: $primary-pink;
}
.mark-as-unread-button:active {
  color: $btn-focus;
}
.mark-as-read-button {
  @include cursor-pointer-transition;
  color: $primary-pink;
}
.mark-as-read-button:hover {
  color: $nav-color;
}
.mark-as-read-button:active {
  color: $medium-gray;
}
.delete-msg-button {
  @include cursor-pointer-transition;
  color: $cancel-color;
}
.delete-msg-button:hover {
  color: $cancel-color-hover;
}
.delete-msg-button:active {
  color: $cancel-color-hover;
}
.newest-oldest-msgs-div {
  @include flex-row;
  width: 100%;
  justify-content: center;
  gap: 40px;
}
#newest-first,
#oldest-first,
.mark-all-read,
.mark-all-unread,
.show-hide-button {
  @include cursor-pointer-transition;
  font-size: 0.8em;
  color: $medium-gray;
}
#newest-first:hover,
#oldest-first:hover,
.mark-all-read:hover,
.show-hide-button:hover {
  color: $primary-pink;
}
.bold-underline {
  font-weight: bold;
  color: $btn-hover !important;
  text-decoration: underline;
  font-size: 0.9em;
}



.listing-img {
  max-width: 600px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.274);
}

.thumb-img {
  height: 200px;
  width: 200px;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.274);
  transition-duration: 0.2s;
}
.thumb-img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.47), 0 0 25px rgba(97, 14, 39, 0.18);

}



/* ABOUT PAGE */
.about-page-content {
  @include flex-column;
  padding: 20px 20px 0px 20px;
  width: 100%;
}

.about-section {
  @include flex-column;
  text-align: center;
  max-width: 750px;
  padding: 20px;
  border-radius: 8px;
  font-size: 0.9em;
  margin-top: 20px;
}

#top-about-section {
  margin-top: 0;
  padding-bottom: 0;
}

.about-header {
  margin-bottom: 20px;
  color: $primary-pink;
}

.faq-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.faq-item {
  text-align: center;
}
.faq-question {
  @include cursor-pointer-transition;
  margin-top: 20px;
  font-size: 1.9em;
  color: $nav-color
}
.faq-question:hover {
  color: $primary-pink;
}
.faq-answer {
  margin-bottom: 40px;
}


#show-terms-conditions {
  @include cursor-pointer-transition;
  margin-top: 40px;
  color: $primary-pink;
}
#show-terms-conditions:hover {
  color: $btn-hover;
}
#terms-and-conditions{
  @include floating-form;
  background: $light-gray;
  color: $dark-gray;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  text-align: left;
  overflow: scroll;
}
.terms-conditions-header {
  margin-top: 40px;
}
.terms-conditions-paragraph {
  width: 600px;
  margin-bottom: 40px;
  cursor: pointer;
}
.tips-list {
  text-align: left;
  margin-bottom: 20px;
}



#show-more,
#show-more-closed {
  @include cursor-pointer-transition;
  color: $medium-gray;
}

#show-more:hover,
#show-more-closed:hover {
  color: $primary-pink;
}


.msg-sender-link-dark {
  @include cursor-pointer-transition;
  color: $text-color-light;
}
.msg-sender-link-dark:hover {
  color: $primary-pink;
}
.msg-sender-link-light {
  @include cursor-pointer-transition;
  color: $text-color-dark;
}
.msg-sender-link-light:hover {
  color: $primary-pink;
}



.dropdown {
    font-size: 0.9em;
    position: relative;
    width: auto;
    height: auto;
}

.dropdown::before {
    right: 20px;
    z-index: 1000;
    width: 8px;
    height: 8px;
    transform: rotate(-45deg);
    pointer-events: none;
}

.dropdown.active::before {
    transform: rotate(-225deg);
}

.dropdown input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background:rgba(255, 255, 255, 0);
    border: none;
    outline: none;
}

.dropdown .options {
    position: absolute;
    top: 70px;
    right: -5px;
    min-width: 150px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    border: 1px solid $primary-pink;
    border-radius: 8px;
    overflow: hidden;
    display: none;
}

.dropdown.active .options {
    display: block;
}

.dropdown .options div {
    text-align: center;
    padding: 6px 20px 6px 20px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.dropdown .options div:hover {
    background: $primary-pink;
    a {
      color: $text-color-light;
    }
}

#dropdown-options {
  transition-duration: 1s;
}


.logout-dropdown-link,
.profile-dropdown-link {
  color: $primary-pink;
}
.status-link {
  color: $nav-color;
}
.status-link:hover,
.active-dropdown-header {
  color: $primary-pink;
}


#acct-balance-header,
#my-bids-header,
#information-header,
#active-listings-header,
#closed-listings-header {
  cursor: pointer;
}



#brute-form {
  width: 450px;
}
.del-acct-btn-base {
  @include cursor-pointer-transition;
  padding: 6px 25px;
  border-radius: 6px;
  font-size: 1em;
  border: none;
  background-color: $nav-color;
  color: $background-color-dark;
}
#really-submit-delete-btn {
  background-color: $background-color-dark;
  color: $text-color-light;
}

.del-acct-btn-dark {
  background-color: $nav-color;
  color: $background-color-dark;
  transition: 3s;
}

.del-acct-neon-btn-dark {
  color: $text-color-light;
  background-color: $background-color-dark;
  transition: 3s;
}
.del-acct-neon-btn-dark:hover {
  background-color: $universal-form-color;
  color: $medium-gray;

}
.del-acct-btn-dark:hover {
  background-color: $background-color-dark;
  color: $text-color-light;
}

.del-acct-neon-btn-dark:active,
.del-acct-neon-btn-dark:focus,
.del-acct-neon-btn-dark:visited {
  background-color: $universal-form-color !important;
  color: $universal-form-color !important;
  outline: none !important;
  border-color: none !important;
  box-shadow: none !important;
  transition: 3s;
}
.del-acct-btn-dark:active,
.del-acct-btn-dark:focus,
.del-acct-btn-dark:visited {
  background-color: $background-color-dark !important;
  color: $background-color-dark!important;
  outline: none !important;
  border-color: none !important;
  box-shadow: none !important;
  transition: 3s;
}


.del-acct-btn-light {
  background-color: $nav-color;
  color: $background-color-dark;
  transition: 3s;
}
.del-acct-neon-btn-light {
  color: $text-color-light;
  background-color: #f4008a;
  transition: 3s;
}
.del-acct-neon-btn-light:hover,
#really-submit-delete-btn:hover {
  background-color: $universal-form-color;
  color: $medium-gray;
}

.del-acct-btn-light:hover {
  background-color: $background-color-light;
  color: $text-color-dark;
}

.del-acct-neon-btn-light:active,
.del-acct-neon-btn-light:focus,
.del-acct-neon-btn-light:visited,
#really-submit-delete-btn:active,
#really-submit-delete-btn:focus,
#really-submit-delete-btn:visited {
  background-color: $universal-form-color !important;
  color: $universal-form-color !important;
  outline: none !important;
  border-color: none !important;
  box-shadow: none !important;
  transition: 3s;

}
.del-acct-btn-light:active,
.del-acct-btn-light:focus,
.del-acct-btn-light:visited {
  background-color: $background-color-light !important;
  color: $background-color-light !important;
  outline: none !important;
  border-color: none !important;
  box-shadow: none !important;
  transition: 3s;
}


/* SEARCH PAGE */

.search-results-div {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
}

.search-listing-div {
  @include flex-column;
  width: 150px;
  padding: 8px;
}
.search-listing-div:hover {
  .search-thumb-img {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.47), 0 0 25px rgba(97, 14, 39, 0.18);
  }
  .search-result-desc {
    color: $primary-pink;
    font-size:0.8em;
  }
}
.search-form-input {
  border-radius: 8px;
  width: 250px;
  font-size: 0.9em;
  padding: 6px 10px;
  border: 1px solid rgba(197, 81, 118, 0.173); 
}




.search-thumb-img {
  height: 120px;
  width: 120px;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.274);
  transition-duration: 0.2s;
}

.search-result-desc {
  font-size: 0.7em;
  margin-bottom: 20px;
  text-align: center;
  transition-duration: 0.2s;
}

.search-result-desc-light {
  color: $text-color-dark;
}
.search-result-desc-dark {
  color: $text-color-light;
}

.search-result-desc-light:hover,
.search-result-desc-dark:hover {
  color: $primary-pink;
}




.spacer-text {
  color: rgba(0, 0, 0, 0)
}
#cancel-bid-link {
  @include cursor-pointer-transition;
  color: $cancel-color;
}
#cancel-bid-link:hover {
  color: $cancel-color-hover;
}



#cancel-bid-confirm-popup {
  width: 250px;
}

#create-confirm-popup {
  width: 450px;
}
.fine-print {
  width: 100%;
  font-size: 0.3em;
}
.finer-print {
  font-size: 0.2em;
}
.expanded-fine-print {
  @include floating-form;
  text-align: center;
  width: 350px;
  border-radius: 8px;
  font-size: 0.7em;
  background-color: rgba(197, 81, 118, 0.563);
  padding: 10px;
}


.watchlist-div {
  @include flex-column;
  width: 70%;
  padding: 8px;
}
.watchlist-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  gap: 40px;
  margin: 20px;
}
.watchlist-listing {
  @include flex-column;
  
}
.watchlist-description {
  text-align: center;
  font-size: 0.8em;
}
.watchlist-thumb-img {
  height: 150px;
  width: 150px;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.274);
  transition-duration: 0.2s;
}
.watchlist-thumb-img:hover {
  transform: scale(1.02);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.47), 0 0 25px rgba(97, 14, 39, 0.18);
}
.watchlist-item-title {
  font-size: 0.8em;
  text-align: center;
  transition-duration: 0.2s;
}
.watchlist-item-title:hover {
  color: $primary-pink;
}
/* Watchlist Page - Small Buttons */
#remove-from-watchlist-button {
  font-size: 0.7em;
  padding: 4px 15px;
  margin: 5px;
  font-weight: bold;
  color: $nav-color;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid $nav-color;
  transition: 0.3s;
}
#remove-from-watchlist-button:hover,
#remove-from-watchlist-button:active,
#remove-from-watchlist-button:focus,
#remove-from-watchlist-button:visited {
  color: $text-color-light;
  background-color: $cancel-color;
  border: 1px solid $cancel-color;
}


#remove-all-inactive-watchlist {
  @include cursor-pointer-transition;
  font-size: 0.7em;
  color: $nav-color;
}
#remove-all-inactive-watchlist:hover,
#remove-all-inactive-watchlist:active,
#remove-all-inactive-watchlist:focus,
#remove-all-inactive-watchlist:visited {
  color: $primary-pink;
}


.winner-alert-div,
.seller-alert-div {
  @include flex-column;
  @include universal-form;
  font-size: 0.9em;
  width: 600px;
  p {
    @include flex-column;
    text-align: center;
  }
}

.small-font {
  font-size: 0.7em;
}
.smaller-font {
  font-size: 0.5em;
}

.listing-cancelled-div p {
  font-size: 1.3em;
  text-align: center;
}