{% extends "auctions/layout.html" %} {% block title %} Categories {% endblock %}
{% block navbar %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'listings' %}">All Listings</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'create' %}">Create Listing</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'profile' user.id %}">My Yard</a>
</li>
{% endblock %} {% block body %}
<div class="categories-content">
  <h1>All Categories</h1>

  <ul>
    {% for category in categories %}
    <li>
      <a href="{% url 'category' category.id %}">{{ category.category }}</a>
      <div class="description hidden">{{ category.description }}</div>
    </li>
    {% endfor %}
  </ul>
</div>

<script>
    document.querySelectorAll(".categories-content li").forEach((li) => {
        li.addEventListener("mouseover", () => {
        li.querySelector(".description").classList.remove("hidden");
        li.querySelector(".description").classList.add("visible");
        });
        li.addEventListener("mouseout", () => {
        li.querySelector(".description").classList.remove("visible");
        li.querySelector(".description").classList.add("hidden");
        });
    });
</script>

{% endblock %}
