{% extends "auctions/layout.html" %} 
{% block title %} Categories {% endblock %}


{% block body %}
<div class="page-content">
  <h1 id="h1-all-categories">All Categories</h1>

  <ul>
    {% for category in categories %}
    <li class="categories-li">
      <a href="{% url 'category' category.id %}">{{ category.category }}</a>
      <div class="description hidden">{{ category.description }}</div>
    </li>
    {% endfor %}
  </ul>
</div>
{% if current_user.is_authenticated %}
  <div id="auth-check-categories" class="hidden"></div>
{% endif %}

<script>
  localStorage.setItem('activePage', 'categories');

  const authCheck = document.getElementById("auth-check-categories");
  if (authCheck) {
    document.querySelectorAll(".page-content li").forEach((li) => {
      li.addEventListener("mouseover", () => {
      li.querySelector(".description").classList.remove("hidden");
      li.querySelector(".description").classList.add("vis-cat-auth");
      });
      li.addEventListener("mouseout", () => {
      li.querySelector(".description").classList.add("hidden");
      li.querySelector(".description").classList.remove("vis-cat-auth");
      });
    });
  } else {
    document.querySelectorAll(".page-content li").forEach((li) => {
      li.addEventListener("mouseover", () => {
      li.querySelector(".description").classList.remove("hidden");
      li.querySelector(".description").classList.add("vis-cat-no-auth");
      });
      li.addEventListener("mouseout", () => {
      li.querySelector(".description").classList.add("hidden");
      li.querySelector(".description").classList.remove("vis-cat-no-auth");
      });
    });
  }
  
</script>

{% endblock %}
