{% extends "auctions/layout.html" %} 
{% load custom_filters %}
{% block title %} Category: {{ category }} {% endblock %} 


{% block body %}
<div class="page-content">
  <h1>{{ category.category }}</h1>
  <h6>{{ category.description }}</h6>
  {% if not listings %}
  <p>No listings in this category.</p>
  {% endif %}
  <ul>
    {% for listing in listings %}
    <li class="categories-li">
      <a class="title-link" href="{% url 'listing' listing.id %}"
        >{{ listing.title }}</a
      >
      <p class="listing-desc hidden">
        {{ listing.title }} - {{ listing.description|truncatechars:125 }} - {% with formatted_currency=listing.price|format_currency %}{{ formatted_currency }}{% endwith %}
      </p>
    </li>
    {% endfor %}
  </ul>
</div>

<script>
  document.querySelectorAll(".title-link").forEach((link) => {
    link.addEventListener("mouseover", () => {
      link.nextElementSibling.classList.toggle("hidden");
      link.nextElementSibling.classList.toggle("visible-desc");
      
    });
    link.addEventListener("mouseout", () => {
      link.nextElementSibling.classList.toggle("hidden");
      link.nextElementSibling.classList.toggle("visible-desc");
    });
  });
</script>
{% endblock %}
