{% extends "auctions/layout.html" %}

{% block title %}
    Create Listing
{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'listings' %}">All Listings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'categories' %}">All Categories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' user.id %}">My Yard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
    </li>
{% endblock %}

{% block body %}
    <h1>List an item for sale</h1>
    <div class="form-div">
        <form action="/create" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="List item">
        </form>
    </div>
{% endblock %}