{% extends "auctions/layout.html" %}

{% block title %}
    Active Listings
{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'listings' %}">All Listings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'create' %}">Create Listing</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'categories' %}">All Categories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' user.id %}">My Yard</a>
    </li>
{% endblock %}

{% block body %}
    <div class="page-content">
        <h2 class="page-heading-h2">Active Listings</h2>

        <form
            class="sort-by-form"
            action="{% url 'sort' %}"
            method="post"
        >
            {% csrf_token %}
            <input type="hidden" name="sort-by" id="sort-by" value="" />
            <input
            type="hidden"
            name="sort-by-direction"
            id="sort-by-direction"
            value=""
            />
        </form>


  <div class="sort-by-container">
    <p class="bold-menu" id="sort-by-header">Sort By:</p>
    <p id="title-sort">
        <span id="title-down-arrow" class="down-arrow">&darr;</span>
        <span id="title-up-arrow" class="up-arrow">&uarr;</span>
        <span id="title-text">Title</span>
    </p>                 
    <p id="seller-sort">
        <span id="seller-down-arrow" class="down-arrow">&darr;</span>
        <span id="seller-up-arrow" class="up-arrow">&uarr;</span>
        <span id="seller-text">Seller</span>    
    </p>
    <p id="date-sort">
        <span id="date-down-arrow" class="down-arrow">&darr;</span>
        <span id="date-up-arrow" class="up-arrow">&uarr;</span>
        <span id="date-text">Listing Date</span>
    </p>
    <p id="price-sort">
        <span id="price-down-arrow" class="down-arrow">&darr;</span>
        <span id="price-up-arrow" class="up-arrow">&uarr;</span>
        <span id="price-text">Price</span>
    </p>
  </div>
        <ul>
            {% for listing in listings %}
                {% if listing.active == True %}
                    <li class="li-listing">
                        <div class="thumb-title-div">
                            {% if listing.image != "" %}
                            <div class="thumb-div">
                                <img src="{{ listing.image }}" height="120" width="120">
                            </div>
                            {% endif %}
                            <div class="list-desc-div">
                                <a class="big-a bold" href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
                                <p>
                                    <span class="bold">Current Bid:</span> {{ listing.price }}</br>
                                    <span class="bold">Description:</span> {{ listing.description }}</br>
                                    <span class="bold">Seller:</span> <a class="small-a" href="{% url 'profile' listing.user.id %}">{{ listing.user.username }}</a></br>
                                </p>    
                        </div>
                    </li>
                    <hr>
                    </br>
                {% endif %}
            {% endfor %}
        </ul>
    </div>


    <script>
        // Sort-by Options - title, seller, date, price
        // Sort-by Direction - asc, desc

        const titleSort = document.querySelector("#title-sort");
        const sellerSort = document.querySelector("#seller-sort");
        const dateSort = document.querySelector("#date-sort");
        const priceSort = document.querySelector("#price-sort");

        const titleDownArrow = document.querySelector("#title-down-arrow");
        const titleUpArrow = document.querySelector("#title-up-arrow");
        const sellerDownArrow = document.querySelector("#seller-down-arrow");
        const sellerUpArrow = document.querySelector("#seller-up-arrow");
        const dateDownArrow = document.querySelector("#date-down-arrow");
        const dateUpArrow = document.querySelector("#date-up-arrow");
        const priceDownArrow = document.querySelector("#price-down-arrow");
        const priceUpArrow = document.querySelector("#price-up-arrow");

        document.addEventListener("DOMContentLoaded", function() {
            // Determine if page is loaded with a sort-by option
            sortBy = localStorage.getItem("sort-by");
            if (sortBy) {
                direction = localStorage.getItem("sort-by-direction");
                if (direction === "asc") {
                    document.querySelector(`#${sortBy}-up-arrow`).style.display = "none";
                    document.querySelector(`#${sortBy}-down-arrow`).style.display = "inline";
                } else {
                    document.querySelector(`#${sortBy}-up-arrow`).style.display = "inline";
                    document.querySelector(`#${sortBy}-down-arrow`).style.display = "none";
                }


                

                if (sortBy === "date") {
                    if (direction === "asc") {
                        document.querySelector(`#${sortBy}-text`).innerHTML = `Listing Date (Oldest First)`;
                        document.querySelector(`#${sortBy}-up-arrow`).style.display = "inline";
                        document.querySelector(`#${sortBy}-down-arrow`).style.display = "none";
                    } else {
                        document.querySelector(`#${sortBy}-text`).innerHTML = `Listing Date (Newest First)`;
                        document.querySelector(`#${sortBy}-up-arrow`).style.display = "none";
                        document.querySelector(`#${sortBy}-down-arrow`).style.display = "inline";
                    }
                }
                else if (sortBy === "price") {
                    if (direction === "asc") {
                        document.querySelector(`#${sortBy}-text`).innerHTML = `Price (Low to High)`;
                    } else {
                        document.querySelector(`#${sortBy}-text`).innerHTML = `Price (High to Low)`;
                    }
                }
                else {
                    if (direction === "asc") {
                        directionWord = "(A-Z)";
                    } else {
                        directionWord = "(Z-A)";
                    }
                    capitalSortBy = sortBy.charAt(0).toUpperCase() + sortBy.slice(1);
                    document.querySelector(`#${sortBy}-text`).innerHTML = `${capitalSortBy} ${directionWord}`
                }
                
                document.querySelector(`#${sortBy}-text`).style.fontWeight = "bold";
            }

            titleSort.onclick = function() {
                sortBy = "title";
                localStorage.setItem("sort-by", sortBy);
                direction = localStorage.getItem("sort-by-direction");
                if (direction === "asc") {
                    localStorage.setItem("sort-by-direction", "desc");
                    document.querySelector("#sort-by").value = sortBy;
                    document.querySelector("#sort-by-direction").value = "desc";
                    titleUpArrow.style.display = "none";
                    titleDownArrow.style.display = "inline";
                } else {
                    localStorage.setItem("sort-by-direction", "asc");
                    document.querySelector("#sort-by").value = sortBy;
                    document.querySelector("#sort-by-direction").value = "asc";
                    titleUpArrow.style.display = "inline";
                    titleDownArrow.style.display = "none";
                }
                document.querySelector(".sort-by-form").submit();
            };

            sellerSort.onclick = function() {
                sortBy = "seller";
                localStorage.setItem("sort-by", sortBy);
                direction = localStorage.getItem("sort-by-direction");
                if (direction === "asc") {
                    localStorage.setItem("sort-by-direction", "desc");
                    document.querySelector("#sort-by").value = sortBy;
                    document.querySelector("#sort-by-direction").value = "desc";
                    sellerUpArrow.style.display = "none";
                    sellerDownArrow.style.display = "inline";
                } else {
                    localStorage.setItem("sort-by-direction", "asc");
                    document.querySelector("#sort-by").value = sortBy;
                    document.querySelector("#sort-by-direction").value = "asc";
                    sellerUpArrow.style.display = "inline";
                    sellerDownArrow.style.display = "none";
                }
                document.querySelector(".sort-by-form").submit();
            };

            dateSort.onclick = function() {
                sortBy = "date";
                localStorage.setItem("sort-by", sortBy);
                direction = localStorage.getItem("sort-by-direction");
                if (direction === "asc") {
                    localStorage.setItem("sort-by-direction", "desc");
                    document.querySelector("#sort-by").value = sortBy;
                    document.querySelector("#sort-by-direction").value = "desc";
                    dateUpArrow.style.display = "none";
                    dateDownArrow.style.display = "inline";
                } else {
                    localStorage.setItem("sort-by-direction", "asc");
                    document.querySelector("#sort-by").value = sortBy;
                    document.querySelector("#sort-by-direction").value = "asc";
                    dateUpArrow.style.display = "inline";
                    dateDownArrow.style.display = "none";
                }
                document.querySelector(".sort-by-form").submit();
            };

            priceSort.onclick = function() {
                sortBy = "price";
                localStorage.setItem("sort-by", sortBy);
                direction = localStorage.getItem("sort-by-direction");
                if (direction === "asc") {
                    localStorage.setItem("sort-by-direction", "desc");
                    document.querySelector("#sort-by").value = sortBy;
                    document.querySelector("#sort-by-direction").value = "desc";
                    priceUpArrow.style.display = "none";
                    priceDownArrow.style.display = "inline";
                } else {
                    localStorage.setItem("sort-by-direction", "asc");
                    document.querySelector("#sort-by").value = sortBy;
                    document.querySelector("#sort-by-direction").value = "asc";
                    priceUpArrow.style.display = "inline";
                    priceDownArrow.style.display = "none";
                }
                document.querySelector(".sort-by-form").submit();
            };
        
        })

    </script>
{% endblock %}