{% extends "auctions/layout.html" %}

{% load static %}

{% block title %}
    Active Listings
{% endblock %}

{% block script %}
    <script src="{% static 'auctions/sort.js' %}" defer></script>
{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'listings' %}">All Listings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'create' %}">Create Listing</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'categories' %}">All Categories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' user.id %}">My Yard</a>
    </li>
{% endblock %}

{% block body %}
    <div class="page-content">
        <h2 id="active-listings" class="page-heading-h2">Active Listings</h2>

        <form
            class="sort-by-form"
            action="{% url 'sort' %}"
            method="post"
        >
            {% csrf_token %}
            <input type="hidden" name="sort-by" id="sort-by" value="" />
            <input
            type="hidden"
            name="sort-by-direction"
            id="sort-by-direction"
            value=""
            />
            <input type="hidden" name="page" id="page" value="index"/>
        </form>


        <div class="sort-by-container">
            <p class="sort-by-option" data-sort-by="title">Title</p>
            <p class="sort-by-option" data-sort-by="seller">Seller</p>
            <p class="sort-by-option" data-sort-by="date">Listing Date</p>
            <p class="sort-by-option" data-sort-by="price">Price</p>
        </div>
        <ul>
            {% for listing in listings %}
                {% if listing.active == True %}
                    <li class="li-listing">
                        <div class="thumb-title-div">
                            {% if listing.image != "" %}
                            <div class="thumb-div">
                                <img src="{{ listing.image }}" height="120" width="120">
                            </div>
                            {% else %}
                            <div class="thumb-div">
                                <img src="{% static 'images/No_Image_Available.jpg' %}" height="120" width="120">
                            </div>
                            {% endif %}
                            <div class="list-desc-div">
                                <a class="big-a bold" href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
                                <p>
                                    <span class="bold">Current Bid:&nbsp; </span> ${{ listing.price }}</br>
                                    <div class="full-description visible-description">
                                        <span class="bold">Description:&nbsp; </span> {{ listing.description }}</br>
                                    </div>
                                    <div class="truncated-description hidden-description">
                                        <span class="bold">Description:&nbsp; </span> <span class="expand-link">{{ listing.description|truncatechars:125 }}</span></br>
                                    </div>
                                    <span class="bold">Seller:&nbsp; </span> <a class="small-a" href="{% url 'profile' listing.user.id %}">{{ listing.user.username }}</a></br>
                                </p>    
                            </div>  
                        </div>
                    </li>
                    <hr>
                    </br>
                {% endif %}
            {% endfor %}
        </ul>
        <p><span id="back-to-top">Back to top</span></p>
    </div>
    

    <script>
        // check length of the description, if over 125 characters, truncate and add a link to expand
        var allDescriptions = document.querySelectorAll(".full-description")
        var allTruncatedDescriptions = document.querySelectorAll(".truncated-description")
        for (var i = 0; i < allDescriptions.length; i++) {
            if (allDescriptions[i].innerText.length > 200) {
                allDescriptions[i].classList.add("hidden-description")
                allDescriptions[i].classList.remove("visible-description")
                allTruncatedDescriptions[i].classList.add("visible-description")
                allTruncatedDescriptions[i].classList.remove("hidden-description")
            }
        }

        // add event listener to expand the description
        document.querySelectorAll(".expand-link").forEach((link) => {
            link.addEventListener("click", () => {
                link.parentElement.classList.add("hidden-description")
                link.parentElement.classList.remove("visible-description")
                
                link.parentElement.previousElementSibling.classList.add("pointer")    
                link.parentElement.previousElementSibling.classList.remove("hidden-description")
                link.parentElement.previousElementSibling.classList.add("visible-description")

                link.parentElement.previousElementSibling.addEventListener("click", () => {
                    link.parentElement.previousElementSibling.classList.add("hidden-description")
                    link.parentElement.previousElementSibling.classList.remove("visible-description")
                    link.parentElement.previousElementSibling.classList.remove("pointer")
                    link.parentElement.classList.remove("hidden-description")
                    link.parentElement.classList.add("visible-description")
                });
            });
        });

    </script>
{% endblock %}