{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon_io/favicon.ico' %}">
        <script src="{% static 'auctions/base.js' %}" defer></script>
        {% block script %}{% endblock %}
    </head>
    <body class="light-mode">
        {% if messages %}
            <div class="message">
                <p>
                    {% for message in messages %}
                        {{ message }}</br>
                    {% endfor %}
                </p>
                <a class="del-x" href="#" class="del-msg">&times;</a>
            </div>

        {% endif %}
        <div class="hero">
            <h1 class="yard-sale">Yard Sale</h1>
            <img id="standard-hero" class="visible" src="https://i.imgur.com/je1SZ7K.png" alt="Yard Sale" style="height:100px">
            <img id="inverted-hero" class="hidden" src="https://i.imgur.com/w5pvWLp.png" alt="Yard Sale" style="height:100px">
        </div>
        
        <div class="nav-container">
            <ul class="nav">
                {% if current_user.is_authenticated %}
                    {% block navbar %}{% endblock %}
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'categories' %}">All Categories</a>
                    </li>
                {% endif %}
            </ul>
            
            <div class="user-status">
                {% if current_user.is_authenticated %}
                <a class="balance-link logout-link" href="{% url 'profile' current_user.id %}">${{ current_user.balance }}&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a class="logout-link" href="{% url 'logout' %}">Log Out&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    <span class="signed-in-as">Signed in as <strong>{{ current_user.username }}</strong></span>
                {% else %}
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    </ul>
                {% endif %}
            
            </div>
        </div>

        <hr class="divider">

        <div class="center-container">
            <p style="text-align:center;"><span class="bold">🥴 from clutter to cash 🤑<br /><br />
            <span style="font-size:0.8em;">Have any questions or comments? <a id="msg-admin-link">Send us a message,</a> we're here to help!</span></p>
        </div>

    <p></p>

    <div>
      <form id="send-msg-form" class="hidden send-msg-form" action="{% url 'messages' current_user.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="subject">Subject</label>
          <input type="text" class="form-control" id="subject" name="subject" value="" />
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea class="form-control" id="message" name="message" rows="3"></textarea>
        </div>
        <input type="hidden" name="recipient" value="2" />
        <button id="help-submit-faux" class="btn btn-primary">Send</button>
        <button id="help-submit" type="submit" style="display:none;">Send</button>
        <button type="button" class="btn btn-primary" id="cancel-msg-admin">Cancel</button>
      </form>

    </div>
        {% block body %}
        {% endblock %}

        <footer>
            <ul class="footer-links">
                <li>
                    <a class="footer-link" href="https://github.com/MyPetLobster/commerce">GitHub Repo</a>
                </li>
                <li>
                    <a class="footer-link" href="{% url 'index' %}">&copy; Yard Sale 2024</a>
                </li>
                <li>
                    <a id="theme-mode-toggle" class="footer-link" href="#">Toggle Dark Mode</a>
                </li>
            </ul>
        </footer>

        <script>
            delX = document.querySelector('.del-x');
            error_message = document.querySelector('.message');

            if (delX) {
                delX.addEventListener('click', () => {
                    error_message.style.display = 'none';
                });
            }
        </script>
    </body>
</html>