{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        {% if messages %}
            <div class="message">
                <p>
                    {% for message in messages %}
                        {{ message }}</br>
                    {% endfor %}
                </p>
                <a href="#" class="del-msg">&times;</a>
            </div>

        {% endif %}
        <div class="hero">
            <h1 class="yard-sale">Yard Sale</h1>
            <img class="visible-hero" src="https://i.imgur.com/je1SZ7K.png" alt="Yard Sale" style="height:130px">
            <img class="hidden-hero" src="https://i.imgur.com/w5pvWLp.png" alt="Yard Sale" style="height:130px">
        </div>
        
        <div class="nav-container">
            <ul class="nav">
                {% if user.is_authenticated %}
                    {% block navbar %}{% endblock %}
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'categories' %}">All Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
            <div>
                <a class="logout-link" href="{% url 'logout' %}">Log Out&nbsp;&nbsp;&nbsp;&nbsp;</a>
                {% if user.is_authenticated %}
                    Signed in as <strong>{{ user.username }}</strong>.
                {% endif %}
            </div>
        </div>
        <hr>

        {% block body %}
        {% endblock %}

        <footer>
            <ul class="footer-links">
                <li class="footer-link">
                    <a href="https://github.com/MyPetLobster/commerce">GitHub Repo</a>
                </li>
                <li class="footer-link">
                    <a href="{% url 'index' %}">&copy; Yard Sale 2024</a>
                </li>
                <li class="footer-link">
                    <a class="theme-mode-toggle" href="#">Toggle Dark Mode</a>
                </li>
            </ul>
        </footer>
    </body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelector('.del-msg').onclick = function() {
            this.parentElement.style.display = 'none';
        }
    });


    setTimeout(function() {
        document.querySelector('.message').style.display = 'none';
    }, 3000);
</script>