{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% if unread_message_count > 1 %} 
                {{ unread_message_count }} New Messages
            {% elif unread_message_count == 1 %}
                1 New Message
            {% else %} 
                {% block title %}{% endblock %}
            {% endif %}
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/css/styles.css' %}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon_io/favicon.ico' %}">
        <script src="{% static 'auctions/javascript/base.js' %}" defer></script>
        <script>
            localStorage.setItem('activePage', 'non-nav');
        </script>
        {% block script %}{% endblock %}
    </head>
    <body class="light-mode">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags %}
                    <div class="center-container">
                        <div class="{{ message.tags }}-div alert-div">
                            <div class="{{ message.tags }}" >{{ message }}</div>
                            <a class="del-msg" href="#">&times;</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="hero">
            <a class="hero-link" href="{% url 'index' %}">
            <h1 class="yard-sale">Yard Sale</h1>
            </a>
            <a class="hero-link" href="{% url 'index' %}">
                <img id="standard-hero" class="visible" src="https://i.imgur.com/je1SZ7K.png" alt="Yard Sale" style="height:100px">
                <img id="inverted-hero" class="hidden" src="https://i.imgur.com/w5pvWLp.png" alt="Yard Sale" style="height:100px">
            </a>
        </div>
        
        <div class="nav-container">
            <ul class="nav">
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a id="nav-listings" class="nav-link" href="{% url 'listings' %}">All Listings</a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-create-listing" class="nav-link" href="{% url 'create' %}">Create Listing</a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-categories" class="nav-link" href="{% url 'categories' %}">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-watchlist" class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-search" class="nav-link" href="{% url 'search' %}">Search</a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-about" class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-profile" class="nav-link" href="{% url 'profile' current_user.id %}">My Yard</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'categories' %}">All Categories</a>
                    </li>
                {% endif %}
            </ul>
            
            <div class="user-status">
                {% if current_user.is_authenticated %}
                    <span id="unread-message-count" class="hidden">{{ unread_message_count }}</span>
                    <a class="balance-link logout-link" href="{% url 'profile' current_user.id %}">{% with formatted_currency=current_user.balance|format_currency %}{{ formatted_currency }} {% endwith %} &nbsp;&nbsp;&nbsp;&nbsp;</a>
                    <div class="mail-icon-div">
                        <span id="mail-icon-default" class="mail-icon visible"><img src="{% static 'images/mail-icon-default.png' %}" id="mail-svg" style="width:25px;"></span>
                        <span id="mail-icon-hover" class="mail-icon hidden"><a href="{% url 'messages' current_user.id %}"><img src="{% static 'images/mail-icon-unread.png' %}" id="mail-svg" style="width:25px;"></a></span>
                        <span id="mail-icon-unread" class="mail-icon hidden"><img src="{% static 'images/mail-icon-hover.png' %}" id="mail-svg" style="width:25px;"></span>&nbsp;&nbsp;
                    </div>
                    <span id="unread-count" class="hidden">You have {{ unread_message_count }} unread messages</span>
                    <span class="signed-in-as"><a href="{% url 'profile' current_user.id %}">Signed in as <strong>{{ current_user.username }}</a></strong></span>
                    <a class="logout-link" href="{% url 'logout' %}">Log Out&nbsp;&nbsp;&nbsp;&nbsp;</a>
                {% else %}
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    </ul>
                {% endif %}
            </div>

        </div>

        <hr class="divider">

        <div class="center-container">
            <p style="text-align:center;"><span class="bold">🥴 from clutter to cash 🤑<br /><br />
            <span style="font-size:0.8em;">Have any questions or comments? <a id="msg-admin-link">Send us a message,</a> we're here to help!</span></p>
        </div>

    <p></p>

    {% if current_user.is_authenticated %}
    <div>
        
      <form id="msg-admin-form" class="hidden" action="{% url 'messages' current_user.id %}" method="post">
        {% csrf_token %}
        <h4 class="form-title">Message the Admins</h4>
        <div class="form-group">
          <label for="subject">Subject</label>
          <input type="text" class="form-control" id="subject" name="subject" value="" />
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea class="form-control" id="message" name="message" rows="3"></textarea>
        </div>
        <input type="hidden" name="recipient" value="2" />
        <button id="help-submit" type="submit" style="display:none;">Send</button>
        <div class="form-btn-box">
            <button id="help-submit-faux" class="btn btn-primary">Send</button>
            <button type="button" class="cancel-btn btn btn-primary" id="cancel-msg-admin">Cancel</button>
        </div>
      </form>
    </div>
    {% endif %}
        {% block body %}
        {% endblock %}
        <p style="height:30px;"></p>
        <p></p>
        <footer>
            <ul class="footer-links">
                <li>
                    <a class="footer-link" href="https://github.com/MyPetLobster/commerce">GitHub Repo</a>
                </li>
                <li id="center-footer-item">
                    <a class="footer-link" href="{% url 'about' %}">&copy; Yard Sale 2024</a>
                </li>
                <li>
                    <a id="theme-mode-toggle" class="footer-link" href="#">Toggle Dark Mode</a>
                </li>
            </ul>
        </footer>

        <script>
            delX = document.querySelector('.del-msg');
            error_message = document.querySelector('.alert-div');

            if (delX) {
                delX.addEventListener('click', () => {
                    error_message.style.display = 'none';
                });
            }
        </script>
    </body>
</html>