{% extends "auctions/layout.html" %}

{% block title %}
    All Listings
{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'create' %}">Create Listing</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'categories' %}">All Categories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' user.id %}">My Yard</a>
    </li>
{% endblock %}

{% block body %}
<div class="page-content">
    <h1 class="page-heading-h1">All Listings</h1>
    <p></p>

    <h3 class="active-listings-heading">Active Listings</h3>
    <form
        class="sort-by-form"
        action="{% url 'sort' %}"
        method="post"
    >
        {% csrf_token %}
        <input type="hidden" name="sort-by" id="sort-by" value="" />
        <input
        type="hidden"
        name="sort-by-direction"
        id="sort-by-direction"
        value=""
        />
        <input type="hidden" name="page" id="page" value="listings"/>
    </form>


    <div class="sort-by-container">
        <p class="sort-by-option" data-sort-by="title">Title</p>
        <p class="sort-by-option" data-sort-by="seller">Seller</p>
        <p class="sort-by-option" data-sort-by="date">Listing Date</p>
        <p class="sort-by-option" data-sort-by="price">Price</p>
    </div>
    <ul>
        {% for listing in listings %}
            {% if listing.active == True %}
                <li class="li-listing">
                    <div class="thumb-title-div">
                        {% if listing.image != "" %}
                        <div class="thumb-div">
                            <img src="{{ listing.image }}" height="120">
                        </div>
                        {% endif %}
                        <div class="list-desc-div">
                            <a class="big-a bold" href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
                            <p>
                                <span class="bold">Current Bid:</span> {{ listing.price }}</br>
                                <span class="bold">Description:</span> {{ listing.description }}</br>
                                <span class="bold">Seller:</span> <a class="small-a" href="{% url 'profile' listing.user.id %}">{{ listing.user.username }}</a> 
                            </p>    
                        </div>

                    </div>

                </li>
                <hr>
            </br>
            {% endif %}
        {% endfor %}
    </ul>
    <h3 class="page-heading-h3">Closed Listings</h3>
    <form
        class="sort-by-form"
        action="{% url 'sort' %}"
        method="post"
    >
        {% csrf_token %}
        <input type="hidden" name="sort-by" id="sort-by" value="" />
        <input
        type="hidden"
        name="sort-by-direction"
        id="sort-by-direction"
        value=""
        />
    </form>


    <div class="sort-by-container">
        <p class="sort-by-option" data-sort-by="title">Title</p>
        <p class="sort-by-option" data-sort-by="seller">Seller</p>
        <p class="sort-by-option" data-sort-by="date">Listing Date</p>
        <p class="sort-by-option" data-sort-by="price">Price</p>
    </div>
    <ul>
        {% for listing in listings %}
            {% if listing.active == False %}
                <li class="li-listing">
                    <div class="thumb-title-div">
                        {% if listing.image != "" %}
                        <div class="thumb-div">
                            <img src="{{ listing.image }}" height="120">
                        </div>
                        {% endif %}
                        <div class="list-desc-div">
                            <a class="big-a bold" href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
                            <p>
                                <span class="bold">Final Bid:</span> {{ listing.price }}</br>
                                <span class="bold">Winner:</span> {% for winner in winners %}
                                            {% if winner.listing == listing %}
                                                {{ winner.user.username }}</br>
                                            {% endif %}
                                        {% endfor %}
                                <span class="bold">Seller:</span> <a class="small-a" href="{% url 'profile' listing.user.id %}">{{ listing.user.username }}</a>
                            </p>   
                        </div>
                    </div>
                </li>
                <hr>
            </br>
            {% endif %}
        {% endfor %}
    </ul>
</div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
        const sortByOptions = document.querySelectorAll(".sort-by-option");

        sortByOptions.forEach(option => {
            option.addEventListener("click", function() {
            const sortBy = this.dataset.sortBy;
            const direction = localStorage.getItem("sort-by-direction") === "asc" ? "desc" : "asc";
            localStorage.setItem("sort-by", sortBy);
            localStorage.setItem("sort-by-direction", direction);
            document.querySelector("#sort-by").value = sortBy;
            document.querySelector("#sort-by-direction").value = direction;
            document.querySelector(".sort-by-form").submit();
            });
        });

        const updateSortUI = () => {
            const sortBy = localStorage.getItem("sort-by");
            const direction = localStorage.getItem("sort-by-direction");

            sortByOptions.forEach(option => {
            const optionSortBy = option.dataset.sortBy;
            if (optionSortBy === sortBy) {
                option.classList.add("sort-by-active");
                if (sortBy === "title" || sortBy === "seller") {
                    option.innerHTML = `${direction === "asc" ? `&darr; ${option.innerHTML} (A-Z)` : `&uarr; ${option.innerHTML} (Z-A)`}`;
                } else if (sortBy === "date") {
                    option.innerHTML = `${direction === "asc" ? `&uarr; ${option.innerHTML} (Old-New)` : `&darr; ${option.innerHTML} (New-Old)`}`;
                } else if (sortBy === "price") {
                    option.innerHTML = `${direction === "asc" ? `&darr; ${option.innerHTML} (Low-High)` : `&uarr; ${option.innerHTML} (High-Low)`}`;
                }
            } else {
                option.classList.remove("sort-by-active");
            }
            });
        };

        updateSortUI();
        });
   

    </script>
{% endblock %}