{% extends "auctions/layout.html" %}

{% load custom_filters %}

{% load tz %}

{% block title %}
    Listing: {{ listing.title }}
{% endblock %}


{% block body %}

<div class="page-content">
    <div class="winner-funds-issue-div">
        {% if current_user == listing.user %} 
            {% if listing.active == False %}
                {% if listing.cancelled == True and listing.price == listing.starting_bid %}
                    <div class="listing-cancelled-div seller-alert-div">
                        <p>Listing has been cancelled. No bids were placed.</p>
                    </div>
                {% elif listing.shipped == False and listing.in_escrow == True %}
                    <div class="confirm-shipping confirm-ship-div" style="width: 350px; text-align: center;">
                        <h4 class="confirm-ship">Confirm Shipping</h4>
                        <p class="confirm-ship">Bidding has closed on your listing, and there is a winner.
                            Please use the button below to generate a shipping label.
                            Follow the instructions you receive in the email.<br/><br/>
                            As soon as your shipping barcode is scanned, the funds will be
                            released from escrow. 
                        </p>
                        <form action="/confirm_shipping/{{ listing.id }}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-primary" type="submit">Confirm Shipping</button>
                        </form>
                        <p></p>
                    </div>
                {% elif listing.shipped == True %}
                    <div class="shipped seller-alert-div">
                        <h3>Item Shipped</h3>
                        <p>Item has been shipped. Thanks for using Yard Sale!</p>
                    </div>
                {% else %}
                {% endif %}
            {% endif %}
        {% endif %}

        {% if winner.user == current_user %}
            {% if listing.active == False and listing.cancelled == False and listing.shipped == False and listing.in_escrow == False %}
                <div class="center-container winner-alert-div">
                    <h4 style="text-align:center;">Congratulations! You won the auction!</h4>
                    <p style="text-align:center;">
                        But further action is needed on your part. See your messages for details. If you were required to add funds to 
                        your account, there will be a button below to do so once your account has the funds deposited. You only have 
                        24 hours to confirm deposit of the funds. If you do not, the listing will be cancelled and the next highest bidder 
                        will be notified. We apologize for any inconvenience. Message us with any questions.
                    </p>
                    <form action="/move_to_escrow/{{ listing.id }}" method="post">
                        {% csrf_token %}
                        <div class="form-btn-box">
                            <label for="add-funds" class="bold">Move ${{ listing.price }} to Escrow</label>
                            <button class="btn btn-primary" type="submit">Confirm</button>
                        </div>
                    </form>
                </div>
            {% elif listing.active == False and listing.cancelled == False and listing.shipped == False and listing.in_escrow == True %}
                <div class="center-container winner-alert-div">
                    <h4 style="text-align:center;">Congratulations! You won the auction!</h4>
                    <p>Once the seller confirms shipping, the funds will be released from escrow.</p>
                </div>
            {% elif listing.active == False and listing.cancelled == False and listing.shipped == True %}
                <div class="center-container winner-alert-div">
                    <h4 style="text-align:center;">Congratulations! You won the auction!</h4>
                    <p>Item has been shipped. Thanks for using Yard Sale!</p>
                    <p>
                        At Yard Sale, we strive for 100% customer satisfaction. If you are anything less than satisfied with this purchase,
                        please use our <span id="file-dispute" class="bold">dispute form</span> and one of our wonderful customer service
                        representatives will be in touch with you in less than 24 hours, or we will refund your purchase price.</br></br>

                        <span class="fine-print">
                            *Note: a dispute will only be valid if filed within 24 hours of receiving the item. If you know beforehand that 
                            you will not be able to receive shipment within that time window or make trusted arrangements to receive the item, 
                            contact the admins to see if arrangements can be made. DO NOT CONTACT THE SELLER DIRECTLY for any disputes.
                        </span>
                        <span class="finer-print">
                            **Note: Yard Sale and Co reserves the rights to deny any and all disputes without reason. By signing up for our 
                            site and using our services, you have agreed to these terms.
                        </span>
                    </p>
                </div>
            {% endif %}
        {% endif %}
    </div>
    <h2 class="page-heading-h2">{{ listing.title }}</h2>

    {% if listing.image != "" %}
        <img class="listing-img" src="{{ listing.image }}" alt="image of {{ listing.title }}">
    {% endif %}
    <div class="listing-desc">
        <p class="fields-div">
            <span class="bold">Seller:&nbsp;&nbsp;</span>
            <span class="lightweight">
                {% if current_user.is_authenticated %}
                    {% if listing.user == current_user %}
                        <a href="{% url 'profile' current_user.id %} ">You</a>
                    {% else %}
                        <a href="{% url 'profile' listing.user.id %}">{{ listing.user.username }}</a>
                    {% endif %}
                {% else %}
                    <span>{{ listing.user.username }}<span>
                {% endif %}
                
            </span></br>
            <div class="fields-item">
                <span class="bold">Current Bid:&nbsp;&nbsp;</span><span class="lightweight">{% with formatted_currency=listing.price|format_currency %}{{ formatted_currency }}{% endwith %} </span></br> 
            </div>
            {% if user_bid != None %}
                {% if user_bid.amount == listing.price %}
                    <div id="user-bid-div" class="fields-item">
                        <span class="bold">Your Bid:&nbsp;&nbsp;</span><span class="green">{% with formatted_currency=user_bid.amount|format_currency %}{{ formatted_currency }}{% endwith %} (You are the current highest bidder!)</span></br>
                        <div id="cancel-bid-div" class="center-container hidden">
                            <span class="bold" id="cancel-bid-link">Cancel Bid</span>
                        </div>
                    </div>
                {% else %}
                    <div id="user-bid-div" class="fields-item">
                        <span class="bold">Your Bid:&nbsp;&nbsp;</span><span class="red">{% with formatted_currency=user_bid.amount|format_currency %}{{ formatted_currency }}{% endwith %} (Your bid is {% with formatted_currency=difference|format_currency %}{{ formatted_currency }}{% endwith %} less than the current highest bid)</span></br>
                        <div id="cancel-bid-div" class="center-container hidden">
                            <span class="bold" id="cancel-bid-link">Cancel Bid</span>
                        </div>
                    </div>
                {% endif %} 
                    <div id="confirm-cancel-bid" class="hidden">
                            <form id="cancel-bid-confirm-popup" class="popup-form center-container" action="{% url 'cancel_bid' listing.id %}" method="post">
                                {% csrf_token %}
                                <h5 style="text-align:center;">Are you sure you want to cancel your bid?</h5>
                                <div class="form-btn-box">
                                    <button class="btn btn-primary" type="submit">Confirm Cancellation</button>
                                    <button id="cancel-cancel" class="btn btn-primary cancel-btn" type="button">Cancel</button>
                                </div>
                            </form>  
                    </div>
                
            {% endif %}
            <div class="fields-item">
                <span class="bold">Listing Date:&nbsp;&nbsp;</span><span class="lightweight">{{ listing.date }}</span></br>
            </div>

            <div class="fields-item">
                <span class="bold">Time Left:&nbsp;&nbsp;</span><span id="countdown" class="lightweight"></span></br>
            </div>
            <div class="fields-item">
                <span class="bold">Description:&nbsp;&nbsp;</span><span class="lightweight">{{ listing.description|linebreaksbr }}</span></br>
            </div>
        {% if listing.categories %}
            <div class="fields-item">
                <span class="bold">Categories:</span> 
                {% for category in listing.categories.all %}
                    <a href="{% url 'category' category.id %}">{{ category.category }}</a> 
                {% endfor %}
            </div>
        {% endif %}
        </p>
    </div>
    
    {% if current_user.is_authenticated %}
        {% if listing.active == True %}
            <div id="watchlist-check" class="hidden">{{ watchlist_item }}</div>
            <div id="watchlist-check-content-add" class="hidden">
                <form action="/add_to_watchlist/{{ listing.id }}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">Add to Watchlist</button>
                </form>
            </div>
            <div id="watchlist-check-content-remove" class="center-container hidden">
                <form class="center-container" action="/remove_from_watchlist/{{ listing.id }}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="clicked-from" value="listing" />
                    <button class="btn btn-primary cancel-btn" type="submit">Remove from Watchlist</button>
                </form>
            </div>
            <p></p>

            {% if listing.user != current_user %}
                <form class="bid-form-div" action="/listing/{{ listing.id }}" method="post">
                    {% csrf_token %}
                    <div class="bid-form-dollar-div">
                        <span id="dollar-sign">$</span>
                        <input class="form-control" type="number" name="amount" step="0.01" min="{{ listing.price }}">
                    </div>
                    <button id="confirm-bid-btn" class="btn btn-primary" type="button">Place Bid</button>
                    <button class="hidden" type="submit">Place Bid</button>
                </form>
                <div class="center-container">
                    <p id="report-listing-text">Report This Listing</p>
                </div>
                <form class="report-listing-form center-container hidden" action="/report_listing/{{ listing.id }}" method="post">
                    {% csrf_token %}
                        <h4 style="text-align:center;">Are you sure you want to report this listing?</h4>
                        <select name="reason">
                            <option value="select" selected disabled>Select a reason</option>
                            <option value="inappropriate">Inappropriate</option>
                            <option value="offensive">Offensive Content</option>
                            <option value="spam">Scam/spam</option>
                            <option value="other">Other</option>
                        </select>
                        <button class="btn btn-primary cancel-btn" type="submit">Report</button>
                        <button class="btn btn-primary cancel-report-listing-btn" type="button">Nevermind</button>
                </form>
                <div class="confirm-bid-popup-content hidden">
                    <div class="center-container" style="text-align:center; width:400px;">
                        <h5>Are you sure you want to place a bid?</h5>
                        <p>
                            By placing a bid, you are agreeing to purchase the item at the price you bid. 
                            If you are the highest bidder when the listing closes, you will be required to 
                            pay the amount of your bid. A bid may be canceled as long as there are more 
                            than 24 hours left in the auction. See our terms and conditions for more 
                            information.
                        </p>
                        <p>
                            If you have read this and understand, you may confirm your bid below.
                        </p>
                        <div class="form-btn-box">
                            <button id="submit-bid-btn" class="btn btn-primary">Confirm Bid</button>
                            <button id="cancel-bid" class="btn btn-primary cancel-btn" type="button">Cancel</button>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if listing.user == current_user %}

                <button id="close-listing-btn" class="btn btn-primary cancel-btn" type="submit">Close Listing</button>
                <div id="close-bid-confirmation" class="confirmation-popup hidden">
                    <div class="confirmation-popup-content">
                        <h5 class="red">Are you sure you want to close this listing?</h5>
                        <p>
                            This action cannot be undone. If there are any bids on your listing, there 
                            will be a 24 hour delay before  the listing is officially closed and all 
                            active bidders will be notified. You may not manually close a listing if 
                            there are less than 24 hours left in the auction.
                        </p>
                        <p>
                            There will also be an additional 5% fee regardless of whether or not there are 
                            any bids on your listing. This fee will be deducted from your account balance 
                            or added to the 10% fee if your listing sells. If you have read this and understand,
                            you may confirm the closing of your listing below.
                        </p>
                        <form action="/close_listing/{{ listing.id }}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-primary" type="submit">Confirm Closing</button>
                        </form>
                        <button id="cancel-close" class="btn btn-primary cancel-btn" type="button">Cancel</button>
                    </div>
                </div>
            {% endif %}

        {% else %}
        <div class="bidding-closed">
            -- BIDDING CLOSED -- </br>
            {% if winner.user == current_user %}
                You Won! (See email for details on how to proceed.)
            {% elif listing.price == listing.starting_bid %}
                No Bids
            {% else %}
                Winner: {{ winner.user.username }}
            {% endif %}
        </div>
        {% endif %}
        

        <div class="comments-div">
            <hr >
            
            <h2>Comments</h2>

            <ul>
                {% for comment in comments %}
                    {% if comment.anonymous == True %}
                    <li class="comment-list-item">><span class="bold">Anonymous:</span> {{ comment.comment }}</br>
                        <span class="timestamp lightweight">{{ comment.date }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="report-comment hidden">Report Comment</span>
                        <form class="report-comment-form center-container hidden" action="/report_comment/{{ comment.id }}" method="post">
                            {% csrf_token %}
                                <h4 style="text-align:center;">Are you sure you want to report this comment?</h4>
                                <select name="reason">
                                    <option value="select" selected disabled>Select a reason</option>
                                    <option value="inappropriate">Inappropriate</option>
                                    <option value="spam">Spam</option>
                                    <option value="other">Other</option>
                                </select>
                                <button class="btn btn-primary cancel-btn" type="submit">Report</button>
                                <button class="btn btn-primary cancel-report-btn" type="button">Nevermind</button>
                        </form>
                    </li>
                    {% elif comment.user == current_user %}
                    <li class="comment-list-item">>
                        <span><a id="user-own-comment" class="bold" href="{% url 'profile' comment.user.id %}">{{ comment.user.username }}:</a></span> {{ comment.comment }}</br><span class="timestamp lightweight">{{ comment.date }}</span>
                    </li>
                    {% elif comment.user == listing.user %}
                    <li class="comment-list-item">><span><a id="seller-comment" class="bold" href="{% url 'profile' comment.user.id %}">{{ comment.user.username }} (seller):</a></span> {{ comment.comment }}</br>
                        <span class="timestamp lightweight">{{ comment.date }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="report-comment hidden">Report Comment</span>
                        <form class="report-comment-form center-container hidden" action="/report_comment/{{ comment.id }}" method="post">
                            {% csrf_token %}
                                <h4 style="text-align:center;">Are you sure you want to report this comment?</h4>
                                <h5>Select a reason:</h5>
                                <select name="reason">
                                    <option value="inappropriate">Inappropriate</option>
                                    <option value="spam">Spam</option>
                                    <option value="other">Other</option>
                                </select>
                                <button class="btn btn-primary cancel-btn" type="submit">Report</button>
                                <button class="btn btn-primary cancel-report-btn" type="button">Nevermind</button>
                        </form>
                    </li>
                    {% else %}
                    <li class="comment-list-item">>
                        <span><a id="other-comment" class="bold"href="{% url 'profile' comment.user.id %}">{{ comment.user.username }}:</a></span> {{ comment.comment }}</br>
                        <span class="timestamp lightweight">{{ comment.date }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="report-comment hidden">Report Comment</span>
                        <form class="report-comment-form center-container hidden" action="/report_comment/{{ comment.id }}" method="post">
                            {% csrf_token %}
                                <h4 style="text-align:center;">Are you sure you want to report this comment?</h4>
                                <h5>Select a reason:</h5>
                                <select name="reason">
                                    <option value="inappropriate">Inappropriate</option>
                                    <option value="spam">Spam</option>
                                    <option value="other">Other</option>
                                </select>
                                <button class="btn btn-primary cancel-btn" type="submit">Report</button>
                                <button class="btn btn-primary cancel-report-btn" type="button">Nevermind</button>
                        </form>
                    </li>
                    {% endif %}
                    
                {% endfor %}
            </ul>
            {% if listing.active == True %}
                <button class="btn btn-primary" id="comment-button">Leave a Comment</button>
                <form id="comment-form" class="hidden" action="/comment/{{ listing.id }}" method="post">
                    {% csrf_token %}
                    {{ comment_form }}
                    <div class="center-container">
                        <button class="btn btn-primary" type="submit">Submit</button>
                        <button class="btn btn-primary cancel-btn" type="button" id="cancel-comment">Cancel</button>
                    </div>
                </form>
            {% endif %}
        </div>
    {% endif %}

</div>

<script>

    const reportListingText = document.querySelector('#report-listing-text');
    const reportListingForm = document.querySelector('.report-listing-form');
    const cancelReportListingBtn = document.querySelector('.cancel-report-listing-btn');

    if (reportListingText) {
        reportListingText.addEventListener('click', function() {
            reportListingForm.classList.remove('hidden');
        });

        cancelReportListingBtn.addEventListener('click', function() {
            reportListingForm.classList.add('hidden');
        });
    }
    





    const userBidDiv = document.querySelector('#user-bid-div');

    userBidDiv.addEventListener('mouseover', function() {
        document.querySelector('#cancel-bid-div').classList.remove('hidden');
    });

    userBidDiv.addEventListener('mouseout', function() {
        document.querySelector('#cancel-bid-div').classList.add('hidden');
    });



    const commentListItems = document.querySelectorAll('.comment-list-item');

    commentListItems.forEach(function(item) {
        item.addEventListener('mouseover', function() {
            item.querySelector('.report-comment').classList.remove('hidden');
        })
        item.addEventListener('mouseout', function() {
            item.querySelector('.report-comment').classList.add('hidden');
    });
    });

    const reportComment = document.querySelectorAll('.report-comment');
    reportComment.forEach(function(item) {
        item.addEventListener('click', function() {
            item.nextElementSibling.classList.remove('hidden');
        });
    });

    const cancelReportBtn = document.querySelectorAll('.cancel-report-btn');
    cancelReportBtn.forEach(function(item) {
        item.addEventListener('click', function() {
            item.parentElement.classList.add('hidden');
        });
    });




    const cancelBidLink = document.querySelector('#cancel-bid-link');
    const confirmCancelBid = document.querySelector('#confirm-cancel-bid');
    const cancelCancel = document.querySelector('#cancel-cancel');

    if (cancelBidLink) {
        cancelBidLink.addEventListener('click', function() {
            confirmCancelBid.classList.remove('hidden');
        });

        cancelCancel.addEventListener('click', function() {
            confirmCancelBid.classList.add('hidden');
        });
    }



    const confirmBidBtn = document.querySelector('#confirm-bid-btn');
    const confirmBidPopupContent = document.querySelector('.confirm-bid-popup-content');
    const cancelBid = document.querySelector('#cancel-bid');
    const submitBidBtn = document.querySelector('#submit-bid-btn');

    if (confirmBidBtn) {
        confirmBidBtn.onclick = function() {
            confirmBidPopupContent.classList.remove('hidden');
            confirmBidPopupContent.classList.add('popup-form');
        }

        cancelBid.onclick = function() {
            confirmBidPopupContent.classList.add('hidden');
            confirmBidPopupContent.classList.remove('popup-form');
        }
    }   

    if (submitBidBtn) {
        submitBidBtn.onclick = function() {
            document.querySelector('.bid-form-div').submit();
        }
    }


    const closeListingBtn = document.querySelector('#close-listing-btn');
    const closeBidConfirmation = document.querySelector('#close-bid-confirmation');
    const cancelClose = document.querySelector('#cancel-close');

    if (closeListingBtn) {
        closeListingBtn.onclick = function() {
            closeBidConfirmation.classList.remove('hidden');
        }
    }

    if (cancelClose) {
        cancelClose.onclick = function() {
            closeBidConfirmation.classList.add('hidden');
        }
    }


    const commentButton = document.querySelector('#comment-button');
    const commentForm = document.querySelector('#comment-form');
    const cancelComment = document.querySelector('#cancel-comment');

    const watchListCheck = document.querySelector('#watchlist-check');
    const watchListCheckContentAdd = document.querySelector('#watchlist-check-content-add');
    const watchListCheckContentRemove = document.querySelector('#watchlist-check-content-remove');
    
    
    document.addEventListener('DOMContentLoaded', function() {
        if (commentButton) {
            commentButton.onclick = function() {
                commentForm.classList.remove('hidden');
                commentForm.classList.add('popup-form');
            }
            cancelComment.onclick = function() {
                commentForm.classList.remove('popup-form');
                commentForm.classList.add('hidden');
            }
        }

        if (watchListCheck) {
            watchListChecker();
        }

        checkAndUpdate();
    });


    function watchListChecker() {
        if (watchListCheck.textContent === "not on watchlist") {
            watchListCheckContentAdd.classList.remove('hidden');
            watchListCheckContentAdd.classList.add('visible');
        } else {
            watchListCheckContentRemove.classList.remove('hidden');
            watchListCheckContentRemove.classList.add('visible');
        }
    }
    
    function checkAndUpdate() {
        var timeLeftCheck = "{{ time_left }}";
        if (timeLeftCheck.startsWith("Listing")) {
            document.getElementById('countdown').textContent = timeLeftCheck;
        } else {
            updateCountdown();
        }
    }

    // Function to update the countdown
    // time_left format = "{int(days_left)} days, {int(hours_left)} hours, {int(minutes_left)} minutes, {int(seconds_left)} seconds"
    // OR "Listing expired on {closed_date.month}/{closed_date.day}/{closed_date.year}"
    function updateCountdown() {    
        var countdownElement = document.getElementById('countdown');
        var timeLeft = "{{ time_left }}";
        var timeParts = timeLeft.split(', ');
        var millisecondsLeft = parseInt(timeParts[0]) * 24 * 60 * 60 * 1000 + 
                            parseInt(timeParts[1]) * 60 * 60 * 1000 + 
                            parseInt(timeParts[2]) * 60 * 1000 + 
                            parseInt(timeParts[3]) * 1000;

        var countdownInterval = setInterval(function() {
            millisecondsLeft -= 1000;

            if (millisecondsLeft <= 0) {
                clearInterval(countdownInterval);
                countdownElement.textContent = "Listing has been closed.";
            } else {
                var days = Math.floor(millisecondsLeft / (1000 * 60 * 60 * 24));
                var hours = Math.floor((millisecondsLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((millisecondsLeft % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((millisecondsLeft % (1000 * 60)) / 1000);

                var formattedTime = '';

                if (days > 0) {
                    formattedTime += days + ' day' + (days > 1 ? 's' : '') + ', ';
                }
                if (hours > 0 || days > 0) { // Include hours only if there are days or if hours are non-zero
                    formattedTime += hours + ' hour' + (hours > 1 ? 's' : '') + ', ';
                }
                if (minutes > 0 || hours > 0 || days > 0) { // Include minutes only if there are hours or days or if minutes are non-zero
                    formattedTime += minutes + ' minute' + (minutes > 1 ? 's' : '') + ', ';
                }
                formattedTime += seconds + ' second' + (seconds > 1 ? 's' : '');

                countdownElement.textContent = formattedTime;

                if (hours < 1 && days < 1) {
                    countdownElement.classList.add('red');
                } else if (hours < 12 && days < 1) {
                    countdownElement.classList.add('orange');
                } else if (hours < 24 && days < 1) {
                    countdownElement.classList.add('yellow');
                } 
            }
        }, 1000);
    }

</script>
{% endblock %}