{% extends "auctions/layout.html" %}

{% block title %}
    All Listings
{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'create' %}">Create Listing</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'categories' %}">All Categories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' user.id %}">My Yard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
    </li>
{% endblock %}

{% block body %}
    <h2>All Listings</h2>
    <p></p>

    <h3>Active Listings</h3>
    <ul>
        {% for listing in listings %}
            {% if listing.active == True %}
                <li class="li-listing">
                    <div class="thumb-title-div">
                        {% if listing.image != "" %}
                        <div class="thumb-div">
                            <img src="{{ listing.image }}" height="100">
                        </div>
                        {% endif %}
                        <a class="title-link" href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
                    </div>
                    <p>Current Bid: {{ listing.price }}</br>
                    Description: {{ listing.description }}
                    </p>    
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <h3>Closed Listings</h3>
    <ul>
        {% for listing in listings %}
            {% if listing.active == False %}
                <li class="li-listing">
                    <div class="thumb-title-div">
                        {% if listing.image != "" %}
                        <div class="thumb-div">
                            <img src="{{ listing.image }}" height="100">
                        </div>
                        {% endif %}
                        <a class="title-link title-link-closed" href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
                    </div>
                    <p>Final Bid: {{ listing.price }}</br>
                        Winner: {% for winner in winners %}
                                    {% if winner.listing == listing %}
                                        {{ winner.user.username }}
                                    {% endif %}
                                {% endfor %}
                    </p>   
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}