{% extends "auctions/layout.html" %}

{% load tz %}

{% block title %}
    Listing: {{ listing.title }}
{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'listings' %}">All Listings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'create' %}">Create Listing</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'categories' %}">All Categories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' user.id %}">My Yard</a>
    </li>
{% endblock %}

{% block body %}

<div class="page-content">
    <h2 class="page-heading-h2">{{ listing.title }}</h2>

    {% if listing.image != "" %}
        <img class="listing-img" src="{{ listing.image }}" height="450">
    {% endif %}
    <div class="listing-desc">
        <p class="fields-div"><span class="bold">Created by:&nbsp;&nbsp;</span><span class="lightweight"><a href="{% url 'profile' listing.user.id %}">{{ listing.user.username }}</a></span></br>
            <div class="fields-item">
                <span class="bold">Current Bid:&nbsp;&nbsp;</span><span class="lightweight">${{ listing.price }}</span></br> 
            </div>
            {% if user_bid != None %}
                {% if user_bid.amount == listing.price %}
                    <div class="fields-item">
                        <span class="bold">Your Bid:&nbsp;&nbsp;</span><span class="lightweight" style="color: green">${{ user_bid.amount }} (You are the current highest bidder!)</span></br>
                    </div>
                {% else %}
                    <div class="fields-item">
                        <span class="bold">Your Bid:&nbsp;&nbsp;</span><span class="lightweight" style="color: red">${{ user_bid.amount }} (Your bid is ${{ difference }} less than the current highest bid)</span></br>
                    </div>
                {% endif %} 
            {% endif %}
            <div class="fields-item">
                <span class="bold">Time Left:&nbsp;&nbsp;</span><span id="countdown" class="lightweight"></span></br>
            </div>
            <div class="fields-item">
                <span class="bold">Description:&nbsp;&nbsp;</span><span class="lightweight">{{ listing.description|linebreaksbr }}</span></br>
            </div>
        {% if listing.categories %}
            <div class="fields-item">
                <span class="bold">Categories:</span> 
                {% for category in listing.categories.all %}
                    <a href="{% url 'category' category.id %}">{{ category.category }}</a> 
                {% endfor %}
            </div>
        {% endif %}
        </p>
    </div>
    {% if user.is_authenticated %}
        {% if listing.active == True %}
            <div id="watchlist-check" class="hidden">{{ watchlist_item }}</div>
            <div id="watchlist-check-content-add" class="hidden-watchlist">
                <form action="/add_to_watchlist/{{ listing.id }}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">Add to Watchlist</button>
                </form>
            </div>
            <div id="watchlist-check-content-remove" class="hidden-watchlist">
                <form action="/remove_from_watchlist/{{ listing.id }}" method="post">
                    {% csrf_token %}
                    <button id="remove-watchlist" class="btn btn-primary" type="submit">Remove from Watchlist</button>
                </form>
            </div>
            <p></p>

            {% if listing.user != user %}
                <form class="bid-form" action="/listing/{{ listing.id }}" method="post">
                    {% csrf_token %}
                    <div class="bid-form-div">
                        <span id="dollar-sign">$</span>
                        <input class="form-control" type="number" name="amount" step="0.01" min="{{ listing.price }}">
                    </div>
                    <button class="btn btn-primary" type="submit">Place Bid</button>
                </form>
            {% endif %}

            {% if listing.user == user %}
                <form action="/close_listing/{{ listing.id }}" method="post">
                    {% csrf_token %}
                    <button id="close-listing-btn" class="btn btn-primary" type="submit">Close Listing</button>
                </form>
            {% endif %}

        {% else %}
        <div class="bidding-closed">
            -- BIDDING CLOSED -- </br>
            {% if winner.user == user %}
                You Won! (See email for details on how to proceed.)
            {% elif listing.price == listing.starting_bid %}
                No Bids
            {% else %}
                Winner: {{ winner.user.username }}
            {% endif %}
        </div>
        {% endif %}
        
        <div class="comments-div">
            <h2>Comments</h2>

            {% if listing.active == True %}
                <button class="btn btn-primary" id="comment-button">Leave a Comment</button>
                <form id="comment-form" class="hidden-form popup-form" action="/comment/{{ listing.id }}" method="post">
                    {% csrf_token %}
                    {{ comment_form }}
                    <div class="center-container">
                        <button class="btn btn-primary" type="submit">Submit</button>
                        <button class="btn btn-primary" type="button" id="cancel-comment">Cancel</button>
                    </div>
                </form>
            {% endif %}

            
            <ul>
                {% for comment in comments %}
                    {% if comment.anonymous == True %}
                    <li><span class="bold">Anonymous:</span> {{ comment.comment }}</br><span class="timestamp lightweight">{{ comment.date }}</span></li>
                    {% else %}
                    <li><span class="bold">{{ comment.user.username }}:</span> {{ comment.comment }}</br><span class="timestamp lightweight">{{ comment.date }}</span></li>
                    {% endif %}
                    
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>

<script>


    const commentButton = document.querySelector('#comment-button');
    const commentForm = document.querySelector('#comment-form');
    const cancelComment = document.querySelector('#cancel-comment');

    const watchListCheck = document.querySelector('#watchlist-check');
    const watchListCheckContentAdd = document.querySelector('#watchlist-check-content-add');
    const watchListCheckContentRemove = document.querySelector('#watchlist-check-content-remove');
    
    
    document.addEventListener('DOMContentLoaded', function() {
        if (commentButton) {
            commentButton.onclick = function() {
                commentForm.classList.remove('hidden-form');
                commentForm.classList.add('visible-form');
            }
            cancelComment.onclick = function() {
                commentForm.classList.remove('visible-form');
                commentForm.classList.add('hidden-form');
            }
        }

        if (watchListCheck) {
            watchListChecker();
        }

        checkAndUpdate();
    });


    function watchListChecker() {
        if (watchListCheck.textContent === "not on watchlist") {
            watchListCheckContentAdd.classList.remove('hidden-watchlist');
            watchListCheckContentAdd.classList.add('visible-watchlist');
        } else {
            watchListCheckContentRemove.classList.remove('hidden-watchlist');
            watchListCheckContentRemove.classList.add('visible-watchlist');
        }
    }
    
    function checkAndUpdate() {
        var timeLeftCheck = "{{ time_left }}";
        if (timeLeftCheck.startsWith("Listing")) {
            document.getElementById('countdown').textContent = timeLeftCheck;
        } else {
            updateCountdown();
        }
    }

    // Function to update the countdown
    // time_left format = "{int(days_left)} days, {int(hours_left)} hours, {int(minutes_left)} minutes, {int(seconds_left)} seconds"
    function updateCountdown() {    
        var countdownElement = document.getElementById('countdown');
        var timeLeft = "{{ time_left }}";
        var timeParts = timeLeft.split(', ');
        var millisecondsLeft = parseInt(timeParts[0]) * 24 * 60 * 60 * 1000 + 
                            parseInt(timeParts[1]) * 60 * 60 * 1000 + 
                            parseInt(timeParts[2]) * 60 * 1000 + 
                            parseInt(timeParts[3]) * 1000;

        var countdownInterval = setInterval(function() {
            millisecondsLeft -= 1000;

            if (millisecondsLeft <= 0) {
                clearInterval(countdownInterval);
                countdownElement.textContent = "Expired";
            } else {
                var days = Math.floor(millisecondsLeft / (1000 * 60 * 60 * 24));
                var hours = Math.floor((millisecondsLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((millisecondsLeft % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((millisecondsLeft % (1000 * 60)) / 1000);

                var formattedTime = '';

                if (days > 0) {
                    formattedTime += days + ' day' + (days > 1 ? 's' : '') + ', ';
                }
                if (hours > 0 || days > 0) { // Include hours only if there are days or if hours are non-zero
                    formattedTime += hours + ' hour' + (hours > 1 ? 's' : '') + ', ';
                }
                if (minutes > 0 || hours > 0 || days > 0) { // Include minutes only if there are hours or days or if minutes are non-zero
                    formattedTime += minutes + ' minute' + (minutes > 1 ? 's' : '') + ', ';
                }
                formattedTime += seconds + ' second' + (seconds > 1 ? 's' : '');

                countdownElement.textContent = formattedTime;

                if (hours < 1 && days < 1) {
                    countdownElement.style.color = "red";
                } else if (hours < 12 && days < 1) {
                    countdownElement.style.color = "orange";
                } else if (hours < 24 && days < 1) {
                    countdownElement.style.color = "yellow";
                } 
            }
        }, 1000);
    }

</script>
{% endblock %}