{% extends "auctions/layout.html" %} 

{% load tz %} 

{% block title %} 
Messages
{% endblock %} 

{% block navbar %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'listings' %}">All Listings</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'create' %}">Create Listing</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'categories' %}">All Categories</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'profile' current_user.id %}">My Yard</a>
</li>
{% endblock %} 

{% block body %}

<div class="page-content">
  <h2>{{ current_user.username }}'s Messages</h2>
  <div class="messages-container">
    <h3>Messages</h3>
    <p></p>
    <h4>Inbox</h4>
    <hr />
    <div class="messages-div inbox">
      {% if inbox_messages %}
      <hr />
      {% for message in inbox_messages %}
      <div class="message-div">
        <p class="message-sender">From: {{ message.sender }}</p>
        <p class="message-date">
          Date: {{ message.date|date:"F j, Y, g:i a" }}
        </p>
        <p class="message-subject">Subject: {{ message.subject }}</p>
        <p class="message-content">{{ message.message }}</p>
        <hr />
      </div>
      {% endfor %}
      {% else %}
      <p>No messages</p>
      {% endif %}
      <hr />
    </div>

    <h4>Sent</h4>
    <div class="messages-div sent">
      {% if sent_messages %}
      <hr />
      {% for message in sent_messages %}
      <div class="message-div">
        <p class="message-sender">To: {{ message.recipient }}</p>
        <p class="message-date">
          Date: {{ message.date|date:"F j, Y, g:i a" }}
        </p>
        <p class="message-subject">Subject: {{ message.subject }}</p>
        <p class="message-content">{{ message.message }}</p>
        <hr />
      </div>
      {% endfor %} {% else %}
      <p>No messages</p>
      {% endif %}
    </div>
  </div>
  <a href="{% url 'profile' current_user.id %}" class="btn btn-primary"
    >Back to Profile</a
  >
</div>

{% endblock %}
