{% extends "auctions/layout.html" %} {% load tz %} {%block title%} Messages
{%endblock%} {% block navbar %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'listings' %}">All Listings</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'create' %}">Create Listing</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'categories' %}">All Categories</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'profile' current_user.id %}">My Yard</a>
</li>
{% endblock %} {% block body %}

<div class="page-content">
  <h2>{{ current_user.username }}'s Messages</h2>
  <div class="messages-container">
    <h3>Messages</h3>
    <div class="divider-med"></div>
    <h4 class="center-container">Inbox</h4>
    <hr />

    <div class="messages-div message-div-collapsed">
      {% if inbox_messages %} {% for message in inbox_messages %}
      <div class="is-message-read hidden">
        {% if message.read == True %}True{% else %}False{% endif %}
      </div>
      <div class="message-div collapsed-message-div">
        <p class="message-summary">
          <span
            >{{ message.sender }} - {{ message.subject|truncatechars:50 }}</span
          >
          <span class="read-unread">
            {% if message.read == True %}
              <a href="{% url 'mark_as_read' message.id %}">Read</a>
            {% else %}
              <a href="{% url 'mark_as_read' message.id %}">Mark as Read</a>
            {% endif %}
          </span>
        </p>
      </div>

      <div class="message-div-full hidden">
        <p class="message-sender">
          <span>From: {{ message.sender }}</span>
          <span class="read-unread">
            {% if message.read == True %}
              <a href="{% url 'mark_as_read' message.id %}">Read</a>
            {% else %}
              <a href="{% url 'mark_as_read' message.id %}">Mark as Read</a>
            {% endif %}
          </span>
        </p>
        <p class="message-date">
          Date: {{ message.date|date:"F j, Y, g:i a" }}
        </p>
        <p class="message-subject">Subject: {{ message.subject }}</p>
        <p class="message-content">{{ message.message }}</p>
        <div class="center-container">
          <div class="reply-delete-div">
            <span>Reply</span>
            <span>Delete</span>
          </div>
        </div>
      </div>

      {% endfor %} {% else %}
      <p>No messages</p>
      {% endif %}
    </div>

    <div class="divider-med"></div>
    <h4 class="center-container">Sent Messages</h4>
    <hr />
    <div class="messages-div sent">
      {% if sent_messages %} {% for message in sent_messages %}
      <div class="message-div">
        <p class="message-sender">To: {{ message.recipient }}</p>
        <p class="message-date">
          Date: {{ message.date|date:"F j, Y, g:i a" }}
        </p>
        <p class="message-subject">Subject: {{ message.subject }}</p>
        <p class="message-content">{{ message.message }}</p>
      </div>
      {% endfor %} {% else %}
      <p>No messages</p>
      {% endif %}
    </div>
  </div>
  <a
    style="margin-top: 20px"
    href="{% url 'profile' current_user.id %}"
    class="btn btn-primary"
    >Back to Profile</a
  >
</div>

<div id="this-is-message-page"></div>

<script>



</script>
{% endblock %}
