{% extends "auctions/layout.html" %} {% load tz %} 

{%block title%} 
  {{ current_user.username }}'s Messages
{% endblock %} 

{% block body %}

<div class="page-content">

  <h2>{{ current_user.username }}'s Messages</h2>

  <!-- ALL MESSAGES -->
  <div class="messages-container">
    <h3>Messages</h3>
    <div class="divider-med"></div>
    <h4 class="center-container">Inbox</h4>
    <!-- SORT BY CONTAINER -->
    <div class="center-container" style="margin-top:20px;"><span class="bold small-font">Sort By: </span></div>
    <div class="newest-oldest-msgs-div">
      <span id="newest-first" class="bold">Newest First</span>
      <span id="oldest-first">Oldest First</span>
    </div>
    <!-- SORT BY FORM (HIDDEN)-->
    <form action="{% url 'sort_messages' %}" method="post" id="sort-msg-form">
      {% csrf_token %}
      <input
        id="sort-by-direction"
        type="hidden"
        name="sort-by-direction"
        value=""
      />
    </form>

    <hr />

    <!-- MARK ALL AS READ BUTTON -->
    {% if unread_message_count > 0 %}
    <div class="center-container" style="padding: 10px;">
      <a href="{% url 'mark_all_as_read' current_user.id %}" class="mark-all-read">Mark All as Read</a>
    </div>
    {% endif %}

    <form action="{% url 'messages' current_user.id %}" method="post" id="show-hide-form" class="hidden">
      {% csrf_token %}
      <input
        id="show-hide-input"
        type="hidden"
        name="show-hide-input"
        value="{% if show_read_messages %}hide{% else %}show{% endif %}"
      />
    </form>
    <div class="center-container">
      <span class="show-hide-button" style="margin-bottom: 20px;">
        {% if show_read_messages %}Hide{% else %}Show{% endif %} Read Messages
      </span>
    </div>


    {% if unread_message_count == 0 and not show_read_messages %}
      <div class="center-container" style="margin-top: 20px">
        <p>No unread messages</p>
      </div>
    {% else %}
      <div class="all-inbox-div">
        {% if inbox_messages %} 
        
        <!-- Start looping over all messages-->
        {% for message in inbox_messages %}

        <!-- hidden check for unread/read -->
        <div class="is-message-read hidden">
          {% if message.read == True %}True{% else %}False{% endif %}
        </div>

        <!-- Collapsed Message Div -->
        <div class="message-div collapsed-message-div">
          <p class="message-summary">
            <span>{{ message.date|date:"y/m/d" }} - {{ message.sender }} - {{ message.subject|truncatechars:30 }}</span></span> 
            <span class="read-unread">
              {% if message.read == True %}
              <a
                class="mark-as-unread-button"
                href="{% url 'mark_as_read' message.id %}"
                >Read</a
              >
              {% else %}
              <a
                class="mark-as-read-button"
                href="{% url 'mark_as_read' message.id %}"
                >Mark as Read</a
              >
              {% endif %}
            </span>
          </p>
        </div>

        <!-- Full Message Div -->
        <div class="message-div-full hidden">
          <p class="message-sender">
            <span>From: <a class="msg-sender-link" href="{% url 'profile' message.sender.id %}">{{ message.sender }}</a></span>
            <span class="read-unread">
              {% if message.read == True %}
              <a
                class="mark-as-unread-button"
                href="{% url 'mark_as_read' message.id %}"
                >Read</a
              >
              {% else %}
              <a
                class="mark-as-read-button"
                href="{% url 'mark_as_read' message.id %}"
                >Mark as Read</a
              >
              {% endif %}
            </span>
          </p>
          <p class="message-date">
            Date: {{ message.date|date:"F j, Y, g:i a" }}
          </p>
          <p class="message-subject">Subject: {{ message.subject }}</p>
          <p class="message-content">{{ message.message }}</p>
        </div>

        <div class="reply-delete-container hidden">
          <div class="reply-delete-div">
            <span class="reply-button">Reply</span>
            <div class="reply-form-div hidden">
              <form
                action="{% url 'messages' current_user.id %}"
                method="post"
                class="reply-form popup-form"
              >
                {% csrf_token %}
                <input
                  type="hidden"
                  name="recipient"
                  value="{{ message.sender.id }}"
                />
                <input
                  type="hidden"
                  name="subject"
                  value="Re: {{ message.subject }}"
                />
                <div class="center-container" style="margin-bottom: 20px">
                  <h5>Reply to {{ message.sender }}</h5>
                </div>
                <textarea
                  class="form-control"
                  id="message"
                  name="message"
                  rows="3"
                ></textarea>
                <div class="center-container" style="margin-top: 20px">
                  <button type="submit" class="btn btn-primary">Send</button>
                  <button
                    type="button"
                    class="btn btn-primary cancel-btn cancel-reply"
                  >
                    Cancel
                  </button>
                </div>
              </form>
            </div>

            <span
              ><a
                class="delete-msg-button"
                href="{% url 'delete_message' message.id %}"
                >Delete</a
              ></span
            >
          </div>
        </div>
        {% endfor %} {% else %}
        <div class="center-container"><p>No messages</p></div>
        {% endif %}
      </div>
    {% endif %}

    <div class="divider-med"></div>
    <h4 class="center-container">Sent Messages</h4>
    <hr />
    <div class="all-sent-messages">
      {% if sent_messages %} {% for message in sent_messages %}
        <div class="message-div collapsed-message-div">
          <p class="message-summary">
            <span>{{ message.date|date:"y/m/d" }} - {{ message.recipient }} - {{ message.subject|truncatechars:30 }}</span>
          </p>
        </div>

        <div class="message-div-full hidden">
          <p class="message-sender">To: {{ message.recipient }}</p>
          <p class="message-date">
            Date: {{ message.date|date:"F j, Y, g:i a" }}
          </p>
          <p class="message-subject">Subject: {{ message.subject }}</p>
          <p class="message-content">{{ message.message }}</p>
        </div>

        <div class="reply-delete-container hidden">
          <div class="reply-delete-div">
            <span class="delete-msg-button">
              <a
                class="delete-msg-button"
                href="{% url 'delete_message' message.id %}"
                >Delete</a
              >
            </span>
          </div>
        </div>

      {% endfor %} {% else %}
        <div class="center-container"><p>No messages</p></div>
      {% endif %}
    </div>  
  </div>
  <a
    style="margin-top: 20px"
    href="{% url 'profile' current_user.id %}"
    class="btn btn-primary"
    >Back to Profile</a
  >
</div>

<p id="show-hide-value" class="hidden">{{ show_read_messages }}</p>
<div id="this-is-message-page"></div>

<script>
  document.addEventListener("DOMContentLoaded", () => {

    const showHideButton = document.querySelector(".show-hide-button");
    const showHideForm = document.getElementById("show-hide-form");
    const showHideValue = document.getElementById("show-hide-value");
    const showHideInput = document.getElementById("show-hide-input");

    showHideButton.addEventListener("click", () => {
      if (showHideValue.textContent === "True") {
        showHideInput.value = "hide";
      } else {
        showHideInput.value = "show";
      }
      showHideForm.submit();
    });


    const replyButtons = document.querySelectorAll(".reply-button");
    const replyForms = document.querySelectorAll(".reply-form-div");
    const cancelButtons = document.querySelectorAll(".cancel-reply");

    replyButtons.forEach((button, index) => {
      button.addEventListener("click", () => {
        replyForms[index].classList.toggle("hidden");
      });
    });

    cancelButtons.forEach((button, index) => {
      button.addEventListener("click", () => {
        replyForms[index].classList.toggle("hidden");
      });
    });

    const sortMsgForm = document.getElementById("sort-msg-form");
    const sortMsgDirection = document.getElementById("sort-by-direction");
    const newestFirst = document.getElementById("newest-first");
    const oldestFirst = document.getElementById("oldest-first");

    newestFirst.addEventListener("click", () => {
      sortMsgDirection.value = "newest-first";
      localStorage.setItem("messageSort", "newest-first");
      sortMsgForm.submit();
    });

    oldestFirst.addEventListener("click", () => {
      sortMsgDirection.value = "oldest-first";
      localStorage.setItem("messageSort", "oldest-first");
      sortMsgForm.submit();
    });

    if (localStorage.getItem("messageSort") === "oldest-first") {
      newestFirst.classList.remove("bold-underline");
      oldestFirst.classList.add("bold-underline");
    }
    if (localStorage.getItem("messageSort") === "newest-first") {
      newestFirst.classList.add("bold-underline");
      oldestFirst.classList.remove("bold-underline");
    }
  });
</script>
{% endblock %}
