{% extends "auctions/layout.html" %}

{% block title %}
    {{ user.username }}'s Profile
{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'listings' %}">All Listings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'create' %}">Create Listing</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'categories' %}">All Categories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
    </li>
{% endblock %}

{% block body %}
<h1>{{ user.username }}'s Yard</h1>

<div class="profile-listings">
    <h2>Active Listings</h2>
    <ul>
        {% for listing in user.listings.all %}
            {% if listing.active == True %}
                <li class="li-listing">
                    <div class="thumb-title-div">
                        {% if listing.image != "" %}
                        <div class="thumb-div">
                            <img src="{{ listing.image }}" height="100">
                        </div>
                        {% endif %}
                        <a class="title-link" href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
                    </div>
                    <p>Current Bid: {{ listing.price }}</p>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <h2>Closed Listings</h2>
    <ul>
        {% for listing in user.listings.all %}
            {% if listing.active == False %}
                <li class="li-listing">
                    <div class="thumb-title-div">
                        {% if listing.image != "" %}
                        <div class="thumb-div">
                            <img src="{{ listing.image }}" height="100">
                        </div>
                        {% endif %}
                        <a class="title-link" href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
                </li>
                <p>Final Bid: {{ listing.price }}</br>
                    {% for winner in winners %}
                        {% if winner.listing == listing %}
                            Winner: {{ winner.user.username }}
                        {% elif forloop.last %}
                            No winner
                        {% endif %}
                    {% endfor %}
                </p>
            {% endif %}
        {% endfor %}
    </ul>
</div>


{% endblock %}