{% extends "auctions/layout.html" %}

{% block title %}
    {{ user.username }}'s Profile
{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'listings' %}">All Listings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'create' %}">Create Listing</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'categories' %}">All Categories</a>
    </li>
{% endblock %}

{% block body %}
<div class="profile-page-content">
    <h1>{{ user.username }}'s Yard</h1>
    <h2>Information</h2>
    <div class="profile-info">
        <ul>
            <li>Username: {{ user.username }}</li>
            <li>Email: {{ user.email }}</li>
            <li>First Name: {{ user.first_name }}</li>
            <li>Last Name: {{ user.last_name }}</li>
            <li>Joined: {{ user.date_joined }}</li>
        </ul>
        {% if current_user == user %}
        <button id="edit-button">Edit Profile</button>
        <button id="change-password">Change Password</button>
        
    </div>

    <div id="edit-profile" class="hidden-form">
        <form action="{% url 'edit' user.id %}" method="post">
            {% csrf_token %}
            {{ user_info_form.as_p }}
            <input type="submit" value="Save">
            <button type="button" id="cancel-button">Cancel</button>
        </form>
    </div>

    <div id="change-password-form" class="hidden-form">
        <form action="{% url 'change_password' user.id %}" method="post">
            {% csrf_token %}
            <input type="password" name="old_password" placeholder="Old Password">
            <input type="password" name="new_password1" placeholder="New Password">
            <input type="password" name="new_password2" placeholder="Confirm New Password">
            <input type="submit" value="Change Password">
            <button type="button" id="cancel-password">Cancel</button>
        </form>
    </div>
    {% endif %}
    <h2>Active Listings</h2>
    <div class="profile-listings">
        <ul>
            {% for listing in user.listings.all %}
                {% if listing.active == True %}
                    <li class="li-listing">  
                        <a class="bold" href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>  
    <h2>Closed Listings</h2>
    <div id="profile-closed-listings" class="profile-listings">
        <ul>
            {% for listing in user.listings.all %}
                {% if listing.active == False %}
                    <li class="li-listing">
                            <a class="bold" href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
                    </li>
                    {% if listing.price == listing.starting_bid %}
                        <p style="display:inline" class="bold">No bids</p>
                    {% else %}
                    <p style="display:inline"><span class="bold">Final Bid:</span> {{ listing.price }}</br>
                        {% for winner in winners %}
                            {% if winner.listing == listing %}
                                <span class="bold">Winner:</span> {{ winner.user.username }}
                            {% elif forloop.last %}
                                No winner
                            {% endif %}
                        {% endfor %}
                    </p>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

<script>
    const editButton = document.getElementById('edit-button');
    const editProfile = document.getElementById('edit-profile');
    const cancelButton = document.getElementById('cancel-button');

    editButton.addEventListener('click', () => {
        editProfile.classList.remove('hidden-form');
        editProfile.classList.add('visible-form');
    });

    cancelButton.addEventListener('click', () => {
        editProfile.classList.add('hidden-form');
        editProfile.classList.remove('visible-form');
    });

    const changePassword = document.getElementById('change-password');
    const changePasswordForm = document.getElementById('change-password-form');
    const cancelPassword = document.getElementById('cancel-password');

    changePassword.addEventListener('click', () => {
        changePasswordForm.classList.remove('hidden-form');
        changePasswordForm.classList.add('visible-form');
    });

    cancelPassword.addEventListener('click', () => {
        changePasswordForm.classList.add('hidden-form');
        changePasswordForm.classList.remove('visible-form');
    });
</script>

{% endblock %}