{% extends "auctions/layout.html" %}

{% load custom_filters %}

{% block title %}
    {{ user.username }}'s Profile
{% endblock %}


{% block body %}
<div>
    <form id="send-usr-msg-form" class="hidden" action="{% url 'messages' current_user.id %}" method="post">
        {% csrf_token %}
        <div class="send-usr-msg-form-div">
            <h4 class="form-title">Message {{ user.username }}</h4>
            <input type="hidden" name="recipient" value="{{ user.id }}">
            <input class="form-control" type="text" name="subject" placeholder="Subject">
            <textarea class="form-control" name="message" placeholder="Message"></textarea>
            <div class="form-btn-box">
                <button class="btn btn-primary" type="submit">Send</button>
                <button class="btn btn-primary cancel-btn" type="button" id="cancel-usr-msg">Cancel</button>
            </div>
        </div>
    </form>
</div>
<div class="profile-page-content">
    <h1>{{ user.username }}'s Yard</h1>
    {% if user != current_user %}
        {% if current_user.is_authenticated %}
            <div class="center-container">
                <button id="send-usr-msg-btn" class="btn btn-primary">Send Message</button>
            </div>            
        {% endif %}
    {% endif %}
    <div class="center-container">
        <div id="profile-picture-div">
            {% if user.profile_picture %}
                <div class="profile-picture-container">
                    <img class="profile-picture" src="{{ user.profile_picture }}" alt="Profile Picture">
                </div>
                <span id="change-profile-pic" class="profile-picture-text hidden">Change your profile picture</span>
            {% else %}
                <div class="profile-picture-container">
                    <img class="profile-picture" src="../../static/images/vecteezy_default-avatar-profile.jpg" alt="vecteezy default avatar profile">
                </div>
                <span id="add-profile-pic" class="profile-picture-text hidden">Add a profile picture</span>
            {% endif %}
        </div>

        <div id="change-profile-pic-form" class="hidden">
            <form class="popup-form" action="{% url 'change_profile_picture' current_user.id %}" method="post">
                {% csrf_token %}
                <h4 class="form-title">Upload a profile picture!</h4>
                <input class="form-control" type="url" name="profile_picture" placeholder="Image URL" maxlength="200">
                <div class="form-btn-box">
                    <button class="btn btn-primary" type="submit" style="align-self:center">Upload</button>
                    <button class="btn btn-primary cancel-btn" type="button" id="cancel-change-profile-pic" style="align-self:center">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <p></p>
    <h2 id="information-header">Information</h2>
    <p>profile picture - {{ current_user.profile_picture }}</p>
    <div class="profile-info">
        <ul class="info-section-element">
            <li>Username: {{ user.username }}</li>
            <li>Email: {{ user.email }}</li>
            <li>First Name: {{ user.first_name }}</li>
            <li>Last Name: {{ user.last_name }}</li>
            <li>Joined: {{ user.date_joined }}</li>
        </ul>
    {% if current_user.is_authenticated and user != current_user %}
        <div class="center-container">
            <span id="report-user-text">Report This User</span>
        </div>
        <form class="report-user-form center-container hidden" action="/report_user/{{ user.id }}" method="post">
            {% csrf_token %}
                <h4 style="text-align:center;">Are you sure you want to report this listing?</h4>
                <select name="reason">
                    <option class="select-dropdown" value="select" selected disabled>Select a reason</option>
                    <option value="suspected-illegal">Illegal Activity</option>
                    <option value="inappropriate">Inappropriate Username</option>
                    <option value="spam">Scam/spam</option>
                    <option value="other">Other</option>
                </select>
                <button class="btn btn-primary cancel-btn" type="submit">Report</button>
                <button class="btn btn-primary cancel-report-user-btn" type="button">Nevermind</button>
        </form>
    {% endif %}
    {% if current_user == user %}
            <button id="edit-button" class="btn btn-primary info-section-element" style="margin-top:20px">Edit Profile</button>
            <button id="change-password" class="btn btn-primary info-section-element">Change Password</button>
            
        </div>

        <div id="edit-profile" class="hidden">
            <form class="popup-form" action="{% url 'edit' current_user.id %}" method="post">
                {% csrf_token %}
                <h4 class="form-title">Edit Profile</h4>
                {{ user_info_form }}
                <div class="form-btn-box">
                    <button class="btn btn-primary" type="submit" style="align-self:center">Save Changes</button>
                    <button class="btn btn-primary cancel-btn" type="button" id="cancel-edit-profile-button" style="align-self:center">Cancel</button>
                </div>
            </form>
        </div>

        <div id="change-password-form" class="hidden">
            <form class="popup-form" action="{% url 'change_password' current_user.id %}" method="post">
                {% csrf_token %}
                <h4 class="form-title">Change Password</h4>
                <input class="form-control" type="password" name="old_password" placeholder="Old Password">
                <input class="form-control" type="password" name="new_password1" placeholder="New Password">
                <input class="form-control" type="password" name="new_password2" placeholder="Confirm New Password">
                <div class="form-btn-box">
                    <button class="btn btn-primary" type="submit" style="align-self:center">Change Password</button>
                    <button class="btn btn-primary cancel-btn" type="button" id="cancel-password-btn" style="align-self:center">Cancel</button>
                </div>
            </form>
        </div>
        <div class="profile-listings">
            <hr>
        </div>

        <div class="account-balance">
            <h2 id="acct-balance-header">Account Balance</h2>
            <p class="acct-section-element" style="font-size: 1.3em">{% with formatted_currency=current_user.balance|format_currency %}{{ formatted_currency }}{% endwith %}</p>
            <p><a class="acct-section-element" id="transaction-history-link" href="{% url 'transactions' current_user.id %}">View Transaction History</a></p>
            <button id="deposit-btn" class="btn btn-primary acct-section-element">Deposit Funds</button>
            <button id="withdraw-btn" class="btn btn-primary acct-section-element">Withdraw Funds</button>
        </div>

        <div class="deposit-form hidden">
            <form class="popup-form" action="{% url 'deposit' current_user.id %}" method="post">
                {% csrf_token %}
                <h4 class="form-title">Deposit Funds</h4>
                <input class="form-control" type="number" name="amount" placeholder="Amount">
                <div class="form-btn-box">
                    <button class="btn btn-primary" type="submit" style="align-self:center">Deposit</button>
                    <button class="btn btn-primary cancel-btn" type="button" id="cancel-deposit-btn" style="align-self:center">Cancel</button>
                </div>
            </form>
        </div>
        <div class="withdraw-form hidden">
            <form class="popup-form" action="{% url 'withdraw' current_user.id %}" method="post">
                {% csrf_token %}
                <h4 class="form-title">Withdraw Funds</h4>
                <input class="form-control" type="number" name="amount" placeholder="Amount">
                <div class="form-btn-box">
                    <button class="btn btn-primary" type="submit" style="align-self:center">Withdraw</button>
                    <button class="btn btn-primary cancel-btn" type="button" id="cancel-withdraw-btn" style="align-self:center">Cancel</button>
                </div>
            </form>
        </div>
    {% endif %}
    <p class="acct-section-element"></p>
    <div class="profile-listings">
        <hr>
    </div>
    {% if current_user == user %}
    <div>
        <h2 id="my-bids-header">My Bids</h2>
        <p class="center-container bids-section-element"><a id="bid-history-link" href="{% url 'transactions' current_user.id %}">View Full Bidding History</a></p>
        <div class="center-container bids-section-element">
            <ul class="no-list-style-center">
            {% for bid_info in bid_info_list %}
                {% if bid_info.is_old_bid == True %}
                {% else %}
                <li class="bid-item">
                
                    {% if bid_info.user_bid.listing.active == True %}
                        <a class="bold" href="{% url 'listing' bid_info.user_bid.listing.id %}">{{ bid_info.user_bid.listing.title }}</a>
                            <p>
                                {% if bid_info.user_bid.amount == bid_info.highest_bid %}
                                    <span class="green bold">{% with formatted_currency=bid_info.user_bid.amount|format_currency %}{{ formatted_currency }}{% endwith %}</span> <span class="green lightweight" style="font-style:italic;">(current highest bid)</span></br>
                                {% else %}
                                    <span class="red bold">{% with formatted_currency=bid_info.user_bid.amount|format_currency %}{{ formatted_currency }}{% endwith %}</span> <span class="red lightweight" style="font-style:italic;">({% with formatted_currency=bid_info.difference|format_currency %}{{ formatted_currency }}{% endwith %} less than highest bid) </span></br>
                                {% endif %}
                            {% with time_left_and_status=bid_info.user_bid.listing.id|get_time_left %}
                                <span class="{{ time_left_and_status.1 }} dynamic-time-left-text">{{ time_left_and_status.0 }}</span>
                            {% endwith %} 
                        </p>
                    {% else %}
                        <div class="expired-bid">
                            <a class="bold" href="{% url 'listing' bid_info.user_bid.listing.id %}">{{ bid_info.user_bid.listing.title }}</a>
                            {% if bid_info.user_bid == bid_info.highest_bid %}
                                <p><span class="bold">Bid: </span>{% with formatted_currency=bid_info.user_bid.amount|format_currency %}{{ formatted_currency }}{% endwith %} <span class="green">(You Won!)</span></p>
                            {% else %}
                                <p>
                                <span class="bold">Bid: </span>{% with formatted_currency=bid_info.user_bid.amount|format_currency %}{{ formatted_currency }}{% endwith %} <span class="red">({{ bid_info.user_bid.listing.winner.username }} won this auction)</span>
                                </br>
                                <span>This auction has ended</span>
                                </p>
                            {% endif %}
                                
                        </div>
                    {% endif %}
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="profile-listings">
        <hr>
    </div>
    {% endif %}

        {% if user == current_user %}
            <h2 id="active-listings-header">My Active Listings</h2>
        {% else %}
            <h2 id="active-listings-header">{{ user.username }}'s Active Listings</h2>
        {% endif %}
        
        {% if user_active_listings_count == 0 %}
            {% if current_user == user %}
            <div class="center-container active-listings-element">
                <p class="no-listings">No active listings. <a href="{% url 'create' %}">Want to change that?</a></p>
            </div>
            {% else %}
            <div class="center-container active-listings-element">
                <p class="no-listings">No active listings</p>
            </div>        
            {% endif %}
        {% else %}
            <div class="profile-listings">
                {% if user.listings.all.count == 0 %}
                    <div class="center-container active-listings-element">
                        <p>No active listings. <a class="italic" href="{% url 'create' %}">Want to change that?</a></p>
                    </div>
                {% endif %}
                <ul class="no-list-style-center active-listings-element">
                    {% for listing in user.listings.all %}
                        {% if listing.active == True %}
                            <li>  
                                <a class="bold" href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <hr style="margin-top:30px;">
            </div>  
        {% endif %}

    
    {% if user == current_user %}
        <h2 id="closed-listings-header">My Closed Listings</h2>
    {% else %}
        <h2 id="closed-listings-header">{{ user.username }}'s Closed Listings</h2>
    {% endif %}

    {% if user_inactive_listings_count == 0 %}
        <div class="center-container closed-listings-element">
            <p class="no-listings">No closed listings.</p>
        </div>
    {% else %}
        <div id="closed-listings-element">
        <div class="profile-listings profile-closed-listings">
            <ul class="thin-list">
                {% for listing in user.listings.all %}
                    {% if listing.active == False %}
                        <li class="closed-listing-li">
                                <a class="bold" href="{% url 'listing' listing.id %}">{{ listing.title }}</a></br>
                        
                        {% if listing.price == listing.starting_bid %}
                            <p style="display:inline" class="bold">No bids</p>
                        {% else %}
                        <p style="display:inline"><span class="bold">Final Bid:</span> {% with formatted_currency=listing.price|format_currency %}{{ formatted_currency }}{% endwith %}</br>
                                {% if listing.winner %}
                                    <span class="bold">Winner:</span> {{ listing.winner.username }}
                                {% else %}
                                    No winner
                                {% endif %}
                        </p>
                        </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        </div>
    {% endif %}
</div>
<div class="divider-med"></div>
{% if current_user == user %}
<div class="center-container">
    <button id="delete-account" class="del-acct-btn-base">Delete Account</button>
    <div class="delete-account-div hidden">
    {% if user_active_listings_count == 0 and user_active_bids_count == 0 %}
        <div class="delete-account-permitted">
            <form class="popup-form center-container" style="text-align:center;" action="#" method="post">
                <h4 class="form-title">Delete Account</h4>
                <p>Are you sure you want to delete your account?</p>
                <p class="bold" style="text-decoration:underline;">This action cannot be undone.</p>
                <div class="form-btn-box">
                    <button id="submit-delete-btn" class="del-acct-btn-base" type="button">Delete Account</button>
                    <button class="btn btn-primary cancel-btn" type="button" id="cancel-delete-account">Cancel</button>
                </div>
            </form>
        </div>
        <div class="et-tu-brute hidden">
            <form id="brute-form" class="popup-form" style="text-align:center;" action="{% url 'delete_account' current_user.id %} " method="post">
                {% csrf_token %}
                <h4 class="form-title">Sorry to see you go.</h4>
                <p>We hope you'll come back soon and give us another shot.</p>
                <p>If you change your mind, we at Yard Sale would like to show our appreciation for your loyalty. 
                    Here's a promo code for 10% higher fees on your next sale: <span class="bold">ETTUBRUTE</span></p>
                <div class="form-btn-box">
                    <button id="really-submit-delete-btn" class="del-acct-btn-base" type="submit" style="font-size:0.8em;">omg just let me delete the goddamn account</button>
                    <button class="btn btn-primary" type="button" id="brute-cancel-delete-account">Fine, I'll stay.</button>
                </div>
            </form>
        </div>
        
    {% else %}
        <div class="delete-account-forbidden center-container" style="width:250px; text-align:center;">
            <p>Sorry, you cannot delete your account while you have active listings or bids.</p>
            <button class="btn btn-primary" type="button" id="cancel-delete-account">Ah, that makes sense.</button>
        </div>
    {% endif %}
    </div>
</div>
<div class="divider-small"></div>
{% endif %}
<script>
    // Set the localStorage value of the activePage to highlight on navbar
    localStorage.setItem('activePage', 'profile');
    
    // Add or change profile picture 
    const profilePictureDiv = document.querySelector("#profile-picture-div")
    const changeProfilePicText = document.querySelector("#change-profile-pic")
    const addProfilePicText = document.querySelector("#add-profile-pic")
    const profilePicForm = document.querySelector("#change-profile-pic-form")
    const cancelChangeProfilePicBtn = document.querySelector("#cancel-change-profile-pic")

    

    if (changeProfilePicText) {
        profilePictureDiv.addEventListener("mouseover", () => {
            changeProfilePicText.classList.remove("hidden");
        })
        profilePictureDiv.addEventListener("mouseout", () => {
            changeProfilePicText.classList.add("hidden");
        })
        changeProfilePicText.addEventListener("click", () => {
            profilePicForm.classList.remove("hidden");
        })
    }
    if (addProfilePicText) {
        profilePictureDiv.addEventListener("mouseover", () => {
            addProfilePicText.classList.remove("hidden");
        })
        profilePictureDiv.addEventListener("mouseout", () => {
            addProfilePicText.classList.add("hidden");
        })
        addProfilePicText.addEventListener("click", () => {
            profilePicForm.classList.remove("hidden");
        })
    }
    cancelChangeProfilePicBtn.addEventListener("click", () => {
        profilePicForm.classList.add("hidden");
    })


    // Report user button and popup 
    const reportUserText = document.querySelector("#report-user-text")
    const cancelReportUserBtn = document.querySelector(".cancel-report-user-btn")
    if (reportUserText) {
        reportUserText.addEventListener("click", () => {
            document.querySelector(".report-user-form").classList.remove("hidden");
        })
        cancelReportUserBtn.addEventListener("click", () => {
            document.querySelector(".report-user-form").classList.add("hidden");
        })
    }
    
    
    // Delete account button and popups
    const deleteAccountButton = document.getElementById('delete-account');
    const deleteAccountDiv = document.querySelector('.delete-account-div');
    const submitDeleteBtn = document.getElementById('submit-delete-btn');
    const deleteAcctPermittedDiv = document.querySelector('.delete-account-permitted');
    const etTuBruteDiv = document.querySelector('.et-tu-brute');
    const bruteCancelDeleteBtn = document.getElementById('brute-cancel-delete-account');
    const cancelDeleteAccount = document.getElementById('cancel-delete-account');

    if (deleteAccountButton) {
        deleteAccountButton.addEventListener('click', () => {
            deleteAccountDiv.classList.toggle('hidden');
            deleteAccountDiv.classList.toggle('popup-form');
            deleteAcctPermittedDiv.classList.remove('hidden');
        });
        cancelDeleteAccount.addEventListener('click', () => {
            deleteAccountDiv.classList.toggle('hidden');
            deleteAccountDiv.classList.toggle('popup-form');
        });
    }

    if (submitDeleteBtn) {
        submitDeleteBtn.addEventListener('click', () => {
            deleteAcctPermittedDiv.classList.add('hidden');
            etTuBruteDiv.classList.remove('hidden');
        });
        bruteCancelDeleteBtn.addEventListener('click', () => {
            etTuBruteDiv.classList.add('hidden');
            deleteAcctPermittedDiv.classList.toggle('hidden');
            deleteAccountDiv.classList.add('hidden');
            deleteAccountDiv.classList.remove('popup-form');
        });
    }

    // Limit display to first 10 bidItems
    const bidItem = document.querySelectorAll('.bid-item');
    for (let i = 0; i < bidItem.length; i++) {
        if (i > 9) {
            bidItem[i].classList.add('hidden');
        }
    }

    // Limit display to 10 closed listings
    const closedListingLi = document.querySelectorAll('.closed-listing-li');
    for (let i = 0; i < closedListingLi.length; i++) {
        if (i > 9) {
            closedListingLi[i].classList.add('hidden');
        }
    }

    // Set local storage value to scroll to section on transactions page
    const transactionHistoryLink = document.getElementById('transaction-history-link');
    const bidHistoryLink = document.getElementById('bid-history-link');
    if (transactionHistoryLink) {
        transactionHistoryLink.addEventListener('click', () => {
            localStorage.setItem('transactionsPageSection', 'transactions');
        });
    }
    if (bidHistoryLink) {
        bidHistoryLink.addEventListener('click', () => {
            localStorage.setItem('transactionsPageSection', 'bids');
        });
    }

    // Send message to user from profile page
    const sendMsgButton = document.getElementById('send-usr-msg-btn');
    const sendMsgForm = document.getElementById('send-usr-msg-form');
    const cancelMsg = document.getElementById('cancel-usr-msg');
    if (sendMsgButton) {
        sendMsgButton.addEventListener('click', () => {
            sendMsgForm.classList.remove('hidden');
        });
        cancelMsg.addEventListener('click', () => {
            sendMsgForm.classList.add('hidden');
        });
    }


    // Deposit button and form
    const depositButton = document.getElementById('deposit-btn');
    const depositForm = document.querySelector('.deposit-form');
    const cancelDeposit = document.getElementById('cancel-deposit-btn');

    // Withdraw button and form
    const withdrawButton = document.getElementById('withdraw-btn');
    const withdrawForm = document.querySelector('.withdraw-form');
    const cancelWithdraw = document.getElementById('cancel-withdraw-btn');

    // Edit profile button and form
    const editButton = document.getElementById('edit-button');
    const editProfile = document.getElementById('edit-profile');
    const cancelButton = document.getElementById('cancel-edit-profile-button');

    // Change password button and form
    const changePassword = document.getElementById('change-password');
    const changePasswordForm = document.getElementById('change-password-form');
    const cancelPassword = document.getElementById('cancel-password-btn');

    if (depositButton) {
        depositButton.addEventListener('click', () => {
            depositForm.classList.remove('hidden');
        });
        cancelDeposit.addEventListener('click', () => {
            depositForm.classList.add('hidden');
        });

        withdrawButton.addEventListener('click', () => {
            withdrawForm.classList.remove('hidden');
        });
        cancelWithdraw.addEventListener('click', () => {
            withdrawForm.classList.add('hidden');
        });

        editButton.addEventListener('click', () => {
            editProfile.classList.remove('hidden');
        });
        cancelButton.addEventListener('click', () => {
            editProfile.classList.add('hidden');
        });

        changePassword.addEventListener('click', () => {
            changePasswordForm.classList.remove('hidden');
        });
        cancelPassword.addEventListener('click', () => {
            changePasswordForm.classList.add('hidden');
        });
    }

    
    // Collapse all main sections of profile page
    const acctBalanceHeader = document.getElementById('acct-balance-header');
    const acctSectionElements = document.querySelectorAll('.acct-section-element');
    if (acctBalanceHeader) {
        acctBalanceHeader.addEventListener('click', () => {
            acctSectionElements.forEach((element) => {
                element.classList.toggle('hidden');
            });
        });
    }

    
    const bidsHeader = document.getElementById('my-bids-header');
    const bidsSectionElements = document.querySelectorAll('.bids-section-element');
    if (bidsHeader) {
        bidsHeader.addEventListener('click', () => {
            bidsSectionElements.forEach((element) => {
                element.classList.toggle('hidden');
            });
        });
    }

    const profileInfoHeader = document.getElementById('information-header');
    const profileInfoElements = document.querySelectorAll('.info-section-element');
    const profileInfoDiv = document.querySelector('.profile-info');
    profileInfoHeader.addEventListener('click', () => {
        profileInfoElements.forEach((element) => {
            element.classList.toggle('hidden');
        });
        profileInfoDiv.classList.toggle('padding-zero');
    });

    const activeListingsHeader = document.getElementById('active-listings-header');
    const activeListingsElement = document.querySelector('.active-listings-element');
    activeListingsHeader.addEventListener('click', () => {
        activeListingsElement.classList.toggle('hidden');
    });

    const closedListingsHeader = document.getElementById('closed-listings-header');
    const closedListingsElement = document.querySelector('#closed-listings-element');
    closedListingsHeader.addEventListener('click', () => {
        closedListingsElement.classList.toggle('hidden');
    });

    // Scroll to account balance section if user is coming from balance link
    if (localStorage.getItem('fromBalanceLink') === 'true') {
        acctBalanceHeader.scrollIntoView();
        window.scrollBy(0, -230);
        localStorage.setItem('fromBalanceLink', 'false');
    }

</script>

{% endblock %}