{% extends "auctions/layout.html" %}

{% load tz %}

{% block title %}
    Transactions
{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'listings' %}">All Listings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'create' %}">Create Listing</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'categories' %}">All Categories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'messages' current_user.id %}">Messages</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' current_user.id %}">My Yard</a>
    </li>
{% endblock %}


{% block body %}

<div class="page-content">
    <h2>{{ current_user.username }}'s Transaction History</h2>
    <table class="table table-striped transactions-table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Amount</th>
                <th>Sender</th>
                <th>Recipient</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                {% if transaction.listing %}
                    <td><a href="{% url 'listing' transaction.listing.id %}">{{ transaction.listing.title }}</a></td>
                {% else %}
                    <td>N/A</td>
                {% endif %}
                {% if transaction.sender == user %}
                <td class="withdraw-amt">-${{ transaction.amount }}</td>
                <td>You</td>
                <td>{{ transaction.recipient }}</td>
                {% else %}
                <td class="deposit-amt">${{ transaction.amount }}</td>
                <td>{{ transaction.sender }}</td>
                <td>You</td>
                {% endif %}
                <td>{{ transaction.date|date:"F j, Y, g:i a" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="center-container">
        <p>Your current balance is: {{ current_user.balance }}</p>
    </div>
    <a href="{% url 'profile' current_user.id %}" class="btn btn-primary">Back to Profile</a>
</div>

{% endblock %}