{% extends "auctions/layout.html" %}

{% load tz %}

{% load custom_filters %}

{% block title %}
    Transactions
{% endblock %}


{% block body %}

<div class="page-content">
    <h2 id="transactions-section-head">{{ current_user.username }}'s Transaction History</h2>
    <table id="transactions-table" class="table table-striped transactions-table light-mode-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Item</th>
                <th>Amount</th>
                <th>Sender</th>
                <th>Recipient</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.date|date:"F j, Y, g:i a" }}</td>
                {% if transaction.listing %}
                    <td><a href="{% url 'listing' transaction.listing.id %}">{{ transaction.listing.title }}</a></td>
                {% else %}
                    <td>N/A</td>
                {% endif %}
                {% if transaction.sender == current_user %}
                <td class="withdraw-amt">-${{ transaction.amount }}</td>
                <td>You</td>
                <td>{{ transaction.recipient }}</td>
                {% else %}
                <td class="deposit-amt">${{ transaction.amount }}</td>
                <td>{{ transaction.sender }}</td>
                <td>You</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="center-container">
        <p>Your current balance is: {% with formatted_currency=current_user.balance|format_currency %}{{ formatted_currency }}{% endwith %}</p>
    </div>

    <div class="center-container">
        <hr>
    </div>

    <h2 id="bids-section-head">{{ current_user.username }}'s Bid History</h2>
    <div class="center-container">
        <p>You have {% if active_bid_count == 0 %}no{% else %}{{ active_bid_count }}{% endif %} active bids.</p>
    </div>
    <table id="bids-table" class="table table-striped transactions-table light-mode-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Item</th>
                <th>Amount</th>
                <th>Active/Closed</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for bid in user_bids %}
            {% if bid.listing.active == True and bid.amount == bid.listing.price %}
                <tr class="winning-bid-active _{{ bid.listing.id }}">
            {% elif bid.listing.active == False and bid.amount == bid.listing.price %}
                <tr class="winning-bid-closed _{{ bid.listing.id }}">
            {% elif bid.listing.active == True and bid.amount != bid.listing.price %}
                <tr class="losing-bid-active _{{ bid.listing.id }}">
            {% elif bid.listing.active == False and bid.amount != bid.listing.price %}
                <tr class="losing-bid-closed _{{ bid.listing.id }}">
            {% endif %}
                <td>{{ bid.date|date:"F j, Y, g:i a" }}</td>
                <td><a href="{% url 'listing' bid.listing.id %}">{{ bid.listing.title }}</a></td>
                <td class="bid-amt">{% with formatted_currency=bid.amount|format_currency %}{{ formatted_currency }}{% endwith %}</td>
                <td>
                    {% if bid.listing.active == True %}
                        Active
                    {% else %}
                        Closed
                    {% endif %}
                </td>
                <td class="winning-bid">
                    {% if bid.listing.active == True %}
                        {% if bid.amount == bid.listing.price %}
                            <span class="dark-green">Winning</span>
                        {% else %}
                            <span class="red" style="font-style:italic;">
                                ({{ bid.listing.price|subtract:bid.amount }} behind)
                            </span>
                        {% endif %}
                    {% else %}
                        {% if bid.listing.winner == current_user %}
                            <span class="green">WON!</span>
                        {% else %}
                            <span class="red">Lost</span>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <a href="{% url 'profile' current_user.id %}" class="btn btn-primary">Back to Profile</a>
    <div id="this-is-transactions-page" class="hidden"></div>
</div>

<script>
    // check which link the user clicked to get to transaction page, scroll section into view
    var transactionsPageSection = localStorage.getItem('transactionsPageSection');
    if (transactionsPageSection === 'transactions') {
        document.getElementById('transactions-section-head').scrollIntoView();
    } else if (transactionsPageSection === 'bids') {
        document.getElementById('bids-section-head').scrollIntoView();
    } else {
        document.getElementById('transactions-section-head').scrollIntoView();
    }


    // Only display the first bid for each listing id. Add a click event listener to the visible rows to toggle the display of the remaining bids by using class "hidden".
    var visibleBids = {};
    var bidRows = document.querySelectorAll('#bids-table tbody tr');

    bidRows.forEach(function(row) {
        var listingId = row.classList[row.classList.length - 1];
        if (visibleBids[listingId] === undefined) {
            visibleBids[listingId] = true;
        } else {
            row.classList.add('hidden');
            row.classList.add('child-bid')
        }
    });

    bidRows.forEach(function(row) {
        row.addEventListener('click', function() {
            if (row.classList.contains('child-bid')) {
                return;
            }
            var listingId = row.classList[row.classList.length - 1];
            var listingBids = document.querySelectorAll(`.${listingId}`);
            var hiddenBids = Array.from(listingBids).filter(function(bid) {
                return bid.classList.contains('hidden');
            });
            
            if (hiddenBids.length > 0) { // Check if there are hidden bids
                hiddenBids.forEach(function(hiddenBid) {
                    hiddenBid.classList.toggle('hidden'); // Toggle the 'hidden' class
                });
                visibleBids[listingId] = !visibleBids[listingId]; // Toggle the visibility status
            } else {
                listingBids.forEach(function(bid) {
                    if (bid !== row) {
                        bid.classList.add('hidden');
                    }
                });
                visibleBids[listingId] = false;
            }
        });
    });


    var hiddenBids = document.querySelectorAll('.hidden');
    hiddenBids.forEach(function(bid) {
        bid.style.cursor = 'pointer';
    });

    var allBids = document.querySelectorAll('#bids-table tbody tr');
    allBids.forEach(function(bid) {
        var listingId = bid.classList[bid.classList.length - 1];
        var hiddenBids = document.querySelectorAll(`.${listingId}.hidden`);
        if (hiddenBids.length > 0) {
            bid.style.cursor = 'pointer';
            bid.style.backgroundColor = '#8d949a';
        }
    });


    
</script>

{% endblock %}