<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winner Notification</title>
</head>
<body>
    <h1 style="text-align: center">Congratulations!</h1>
    <h3 style="text-align: center">You are the winner of the auction for "{{ listing_title }}".</h3>
    <p>${{ listing_price }} will be withdrawn from your account when shipping confirmation is confirmed. 
        Shipping details will be sent to you via email.
    </p>
    <p>Any question? Try reaching out to the seller ({{ seller_name }}) at {{ seller_email }}</p>
    <p style="text-align: center">Thanks from the Yard Sale team!</p>
</body>
</html>