/* Dark Mode/Light Mode */
.light-mode {
  background-color: #e2e2e2;
  color: #303133;
}

.dark-mode {
  background-color: #303133;
  color: #f4f4f4;
}

/* General Styles */
.mail-icon-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.15s;
  align-items: center;
}

#unread-count {
  position: absolute;
  top: 80px;
  right: 110px;
  background-color: rgba(197, 81, 118, 0.563);
  color: #f4f4f4;
  border-radius: 20px;
  padding: 8px 10px 8px 10px;
  font-size: 0.7em;
}

.yard-sale {
  padding: 0;
  font-family: "Caveat", cursive;
  font-size: 2.5em;
  color: #c55176;
}

.bold {
  font-weight: bold;
}

.lightweight {
  font-weight: 300;
}

img {
  border-radius: 8px;
}

h1,
h2,
h3 {
  font-weight: 300;
  text-align: center;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.5em;
}

body {
  position: relative;
  min-height: 100vh;
  padding: 10px;
  font-family: "Ubuntu", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 20px 40px 20px;
  width: 100%;
}

hr {
  background-color: #babfc8;
  width: 100%;
  display: block;
  clear: both;
  margin-top: 8px;
}

p {
  font-size: 1em;
}

.small-font {
  font-size: 0.8em;
}

.red {
  color: #a90000;
}

.orange {
  color: #b36f1b;
}

.yellow {
  color: #e6d00c;
}

.green {
  color: #247b1c;
}

.dark-green {
  color: #1f3f1a;
}

.center-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.field-line {
  margin-bottom: 8px;
}

.divider-med {
  width: 100%;
  height: 40px;
}

/* LINK STYLES */
a {
  color: #1696b9;
  transition: 0.15s;
}

a:hover {
  text-decoration: none;
  color: #0a5f76;
}

.big-a {
  font-size: 1.3em;
}

.small-a {
  font-size: 1em;
}

/* ALERT MESSAGE STYLES */
.alert-div {
  width: 300px;
  height: auto;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}

.success-div {
  background-color: #2d6128;
}

.error-div {
  background-color: #80052c;
}

.del-x {
  cursor: pointer;
  transition: 0.15s;
  margin: 0;
  line-height: 0%;
  font-size: 1.5em;
  color: white;
}

.del-x:hover {
  font-weight: bold;
}

/* FORM STYLES */
/* All input fields font-size and focus */
.form-control {
  font-size: 0.9em;
}

.form-control:focus {
  border-color: #c55176;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.075), 0 0 10px rgba(197, 81, 118, 0.6);
}

.form-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Dynamic Form and Description */
.hidden {
  display: none;
}

.visible {
  display: block;
}

/* Layout Template - Message Admin Form */
.send-msg-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: block;
  color: #f4f4f4;
  background-color: #7a9196;
  height: auto;
  min-width: 300px;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #f4f4f4;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.524);
}
.send-msg-form input {
  margin-bottom: 10px;
}
.send-msg-form label {
  color: #f4f4f4;
}
.send-msg-form .form-group {
  width: 100% !important;
}

/* Categories Page - category description on hover */
.visible-categories {
  display: block;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  text-align: center;
  color: #c55176;
}

/* Profile Page - Edit Info, Change Password, Deposit and Withdraw Forms */
/* Listing Page - Leave Comment Form */
.popup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: block;
  color: #f4f4f4;
  background-color: #7a9196;
  height: auto;
  min-width: 300px;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #f4f4f4;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.524);
  margin-top: 20px;
}
.popup-form input {
  margin-bottom: 10px;
}
.popup-form label {
  font-size: 0.9em;
}

/* Messages Page - Reply to Message Form */
.reply-form {
  width: 400px;
}

/* Category Page - Listing Hover Description */
.visible-desc {
  position: absolute;
  transform: translate(-20%, -180%);
  display: block;
  text-align: center;
  margin-top: 20px;
  background-color: rgba(197, 81, 118, 0.831);
  border-radius: 8px;
  border: 1px solid #f4f4f4;
  width: 600px;
  padding: 20px;
  font-size: 0.9em;
}

/* Profile Page - Send User Message Form */
.send-usr-msg-form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: block;
  color: #f4f4f4;
  background-color: #7a9196;
  height: auto;
  min-width: 300px;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #f4f4f4;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.524);
  margin-top: 20px;
}
.send-usr-msg-form-div input {
  margin-bottom: 10px;
}

/* Authentication Forms */
.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-items: center;
  width: 600px;
  padding: 20px;
}

legend {
  font-size: 1em;
}

#description {
  width: 100%;
  height: 100px;
}

.category-checkbox {
  margin: 0;
}

.category-checkbox label {
  font-size: smaller;
  margin: 0;
}

/* NAV and FOOTER STYLES*/
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  justify-content: space-between;
  padding: 0px;
  margin: 0;
}

#msg-admin-link,
.nav-link,
.logout-link,
.footer-link {
  cursor: pointer;
  transition: 0.15s;
  color: #8c8787;
}

#msg-admin-link:hover,
.nav-link:hover,
.logout-link:hover,
.footer-link:hover {
  color: #c55176;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  font-size: 1.75em;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.user-status {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
}

.signed-in-as {
  color: #c55176;
}

footer {
  position: absolute;
  bottom: 0;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width: 100vw;
  justify-content: space-around;
  padding: 10px;
  margin-bottom: 0;
}
footer li {
  list-style-type: none;
}

/* ALL BUTTON STYLES */
.btn {
  cursor: pointer;
  transition: 0.15s;
  padding: 6px 25px;
  border-radius: 6px;
  font-size: 1em;
  background-color: #c55176;
  border: none;
}

.btn:hover {
  background-color: #983554;
  color: #f4f4f4;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:visited {
  background-color: #e75684 !important;
  color: #f4f4f4 !important;
  outline: none !important;
  border-color: #c55176 !important;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.075), 0 0 10px rgba(197, 81, 118, 0.6);
}

.btn-primary:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

/* Form Buttons Div */
.form-btn-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px 0 0 0;
  width: 100%;
}

/* Cancel Buttons */
.cancel-btn {
  background-color: #a90000 !important;
  color: #f4f4f4 !important;
  transition: 0.15s !important;
}

.cancel-btn:hover,
.cancel-btn:focus,
.cancel-btn:active,
.cancel-btn:visited {
  background-color: #80052c !important;
}

/* Watchlist Page - Small Buttons */
#remove-from-watchlist-btn {
  font-size: 0.7em;
  padding: 4px 15px;
  margin: 5px;
}

/* Profile Page - Deposit and Withdraw Buttons */
#deposit-btn,
#withdraw-btn {
  cursor: pointer;
  transition: 0.15s;
}

#deposit-btn:hover {
  background-color: #2d6128;
}

#withdraw-btn:hover {
  background-color: #80052c;
}

/* CREATE LISTING PAGE */
.create-form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  display: block;
  color: #f4f4f4;
  background-color: #7a9196;
  height: auto;
  min-width: 300px;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #f4f4f4;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.524);
  width: 500px;
  margin-top: 20px;
}
.create-form-div input {
  margin-bottom: 10px;
}

.create-listing-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-items: flex-start;
  width: 100%;
  /* Set all form groups to 100% width */
  /* Target categories field, use grid to display checkboxes in 2 columns */
}
.create-listing-form div {
  width: 100%;
}
.create-listing-form #id_categories {
  font-size: 0.9em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.create-listing-form #id_categories div label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  gap: 5px;
  justify-content: flex-start;
  align-items: center;
}

/* INDEX and LISTINGS  */
/* Individual Listing */
.thumb-title-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

/* Used by JS to make truncated descriptions clickable */
.truncated-description {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.long-listings,
.short-listings {
  width: 60%;
}
.long-listings li,
.short-listings li {
  list-style-type: none;
  margin-bottom: 40px;
}

/* Listings/Index Toggle Full Listings - Title Only */
.opt-selected {
  font-weight: bold;
  color: #c55176;
}

.opt-not-selected {
  font-weight: 100;
  cursor: pointer;
}

.opt-not-selected:hover {
  font-weight: 400;
  color: #976f7b;
}

.title-only-li {
  font-size: 0.9em;
  margin-bottom: 8px;
}

.short-listings {
  position: relative;
  right: 20px;
  width: 100%;
  text-align: center;
}

/* Listings/Index - Return to top link */
#go-to-closed,
#back-to-top {
  cursor: pointer;
  transition: 0.15s;
}

#go-to-closed:hover,
#back-to-top:hover {
  color: #c55176;
}

/* Dynamic Arrow Styles for Sort By */
.down-arrow,
.up-arrow {
  display: none;
}

.sort-by-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  font-size: 0.8em;
  gap: 30px;
  margin-bottom: 20px;
}
.sort-by-container p {
  cursor: pointer;
  transition: 0.15s;
}
.sort-by-container p:hover {
  color: #c55176;
}

.sort-by-active {
  font-weight: bold;
  color: #c55176;
}

/* LISTING PAGE */
.listing-desc {
  width: 450px;
  font-size: 0.9em;
}

.fields-item {
  margin-bottom: 10px;
}

.listing-img {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.274);
  margin-bottom: 20px;
}

/* Comments Section */
.comments-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  width: 600px;
}
.comments-div ul {
  margin-top: 20px;
  width: 100%;
  align-items: flex-start;
}
.comments-div li {
  list-style-type: disc;
  margin-bottom: 20px;
}

.anon-checkbox {
  accent-color: #c55176 !important;
}

.bidding-closed {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.timestamp {
  font-size: 0.8em;
  color: #6c757d;
}

/* Make a Bid */
.bid-form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.bid-form-dollar-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
  gap: 5px;
  position: relative;
  right: 8px;
}

#dollar-sign {
  font-size: 1.3em;
}

/* Confirm Shipping Button */
.confirm-ship-div {
  background-color: #f4f4f4;
  color: #a90000;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #a90000;
}
.confirm-ship-div button {
  background-color: #6c757d;
  color: #f4f4f4;
  transition: 0.15s;
}
.confirm-ship-div button:hover {
  border: 2px solid #a90000;
  background-color: #c55176;
}

/* PROFILE PAGE */
.profile-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 600px;
  padding: 20px;
}

.profile-listings {
  width: 600px;
  align-items: flex-start;
}

#profile-closed-listings {
  margin-bottom: 60px;
}
#profile-closed-listings li {
  margin-top: 4px;
}

.account-balance {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* WATCHLIST PAGE */
.watchlist-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
}
.watchlist-content h1 {
  position: relative;
  left: 20px;
}

.watchlist-listing {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 600px;
  gap: 0px;
  align-items: flex-start;
}
.watchlist-listing div {
  font-size: 0.8em;
}
.watchlist-listing a {
  font-size: 0.9em;
}
.watchlist-listing a,
.watchlist-listing div {
  width: 100%;
  text-align: center;
}
.watchlist-listing form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

/* CATEGORY and CATEGORIES PAGES */
#h1-all-categories {
  margin-bottom: 50px;
}

.categories-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.categories-content h1 {
  margin-bottom: 50px;
}

.categories-li {
  font-size: 0.9em;
}

/* TRANSACTIONS PAGE */
.transactions-table {
  max-width: 800px;
  background-color: #6c757d;
  border-radius: 8px;
  overflow: hidden;
  font-size: 0.9em;
  color: #f4f4f4;
}
.transactions-table th,
.transactions-table td {
  border-color: #303133 !important;
}
.transactions-table th {
  border-top: none;
}

.withdraw-amt {
  color: #a90000;
}

.deposit-amt {
  color: #1f3f1a;
}

.expired-bid {
  color: #6c757d;
  font-style: italic;
}
.expired-bid a,
.expired-bid p,
.expired-bid span {
  color: #6c757d;
  font-style: italic;
}

.winning-bid-active {
  color: #f4f4f4;
  font-weight: bold;
  font-size: 0.9em;
}

.winning-bid-closed {
  color: #1f3f1a;
  font-style: italic;
  font-size: 0.9em;
}

.losing-bid-active {
  font-size: 0.9em;
}

.losing-bid-closed {
  color: #6c757d;
  font-style: italic;
  font-size: 0.9em;
}

#bids-table {
  text-align: center;
}
#bids-table a {
  color: #f4f4f4;
}
#bids-table a:hover {
  color: #983554;
}

/* MESSAGES PAGE */
.message-div,
.message-div-full {
  width: 600px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.message-sender,
.message-summary {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  justify-content: space-between;
}

#read-unread {
  cursor: pointer;
  transition: 0.15s;
  font-size: 0.8em;
  color: #6c757d;
}

#read-unread:hover {
  color: #c55176;
}

.reply-delete-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width: 100%;
  justify-content: center;
  gap: 60px;
  margin-top: -6px;
  margin-bottom: 20px;
}

.reply-button {
  cursor: pointer;
  transition: 0.15s;
  color: #c55176;
}

.reply-button:hover {
  color: #983554;
}

.reply-button:active {
  color: #e75684;
}

.mark-as-unread-button {
  cursor: pointer;
  transition: 0.15s;
  color: #6c757d;
}

.mark-as-unread-button:hover {
  color: #c55176;
}

.mark-as-unread-button:active {
  color: #e75684;
}

.mark-as-read-button {
  cursor: pointer;
  transition: 0.15s;
  color: #c55176;
}

.mark-as-read-button:hover {
  color: #8c8787;
}

.mark-as-read-button:active {
  color: #6c757d;
}

.delete-msg-button {
  cursor: pointer;
  transition: 0.15s;
  color: #a90000;
}

.delete-msg-button:hover {
  color: #80052c;
}

.delete-msg-button:active {
  color: #80052c;
}

.newest-oldest-msgs-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width: 100%;
  justify-content: center;
  gap: 40px;
}

#newest-first,
#oldest-first,
.mark-all-read,
.show-hide-button {
  cursor: pointer;
  transition: 0.15s;
  font-size: 0.8em;
  color: #6c757d;
}

#newest-first:hover,
#oldest-first:hover,
.mark-all-read:hover,
.show-hide-button:hover {
  color: #c55176;
}

.bold-underline {
  font-weight: bold;
  color: #983554 !important;
  text-decoration: underline;
  font-size: 0.9em;
}

/*# sourceMappingURL=styles.css.map */
